@charset "utf-8";

@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$content-item-height: 90rpx;
$content-item-skew-angle: -9deg;

.content-table {
  row-gap: 20rpx;
  column-gap: 30rpx;
  display: grid;
  @include large-screen {
    grid-template-columns: repeat(2, 1fr);
  }
  @include small-screen {
    grid-template-columns: repeat(1, 1fr);
  }
}

.content-head {
  margin-block-end: 15rpx;
  font-size: 120%;
  color: var(--blue-color);
  &:not(:first-of-type) {
    margin-block-start: 20rpx;
  }
}

.content-item {
  height: $content-item-height;
  padding-inline: 25rpx;
  color: color-mix(in oklch, var(--blue-color) 50%, var(--text-color));
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  &:not([data-disabled]) {
    cursor: pointer;
    --filter: drop-shadow(0rpx 2rpx 5rpx oklch(from black l c h / 0.3));
  }
  &[data-disabled] {
    opacity: 0.5;
    --filter: none;
  }
  &:is([data-disabled], :not(:hover)) {
    --background-position: 0%;
  }
  &:not([data-disabled]):hover {
    --background-position: 100%;
  }
  &::before {
    inset-block: 0rpx;
    inset-inline-start: 0rpx;
    inset-inline-end: 0rpx;
    border: solid 1rpx oklch(from var(--blue-color) l c h / 0.8);
    background-color: var(--main-background-color);
    background-image: linear-gradient(to right, transparent 50%, oklch(from var(--orange-color) l c h / 0.05) 50%);
    background-position: var(--background-position) 0%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    transform: skew($content-item-skew-angle);
    filter: var(--filter);
    backdrop-filter: blur(5rpx); 
    transition: background-position 0.2s;
    content: "";
    position: absolute;
    z-index: -1;
  }
}

.content-title {
  font-size: 130%;
  line-height: $small-line-height;
}

.content-date {
  margin-block-end: 5rpx;
  font-size: 80%;
  opacity: 0.7;
}