@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$description-arrow-width: 0.5em;
$description-dash-width: 1.1em;

.description-list {
  @include justify;
  width: max-content;
  max-width: 100%;
  line-height: $line-height;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.description-left {
  margin-left: $bullet-width + $blank-margin;
  margin-right: $blank-margin;
  &::before {
    @include icon-font;
    width: fix-em($bullet-width, 90%);
    margin-right: fix-em($blank-margin, 90%);
    margin-left: fix-em(0em - $bullet-width - $blank-margin, 90%);
    font-size: 90%;
    color: var(--blue-color);
    text-align: right;
    display: inline-block;
    content: "\F0DA";
  }
}

.description-right {
  .description-list[data-type="desc"] & {
    margin-left: $description-arrow-width + $blank-margin;
  }
  .description-list[data-type="par"] & {
    margin-left: $description-dash-width + $blank-margin;
  }
  &::before {
    color: var(--blue-color);
    opacity: 0.5;
    .description-list[data-type="desc"] & {
      @include icon-font;
      width: fix-em($description-arrow-width, 90%);
      margin-right: fix-em($blank-margin, 90%);
      margin-left: fix-em(0em - $description-arrow-width - $blank-margin, 90%);  
      font-size: 90%;
      display: inline-block;
      content: "\F105";
    }
    .description-list[data-type="par"] & {
      width: $description-dash-width;
      margin-right: $blank-margin;
      margin-left: 0em - $description-dash-width - $blank-margin;
      display: inline-block;
      content: "—";
    }
  }
}