@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$description-arrow-width: 0.5em;
$description-dash-width: 1em;

.description-list {
  @include justify;
  width: max-content;
  max-width: 100%;
  line-height: $line-height;
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.description-left {
  margin-inline-start: $bullet-width + $blank-margin;
  margin-inline-end: $blank-margin;
  &::before {
    @include icon("solid", "\F0DA");
    width: $bullet-width;
    margin-inline-end: $blank-margin;
    margin-inline-start: 0em - ($bullet-width + $blank-margin);
    color: var(--blue-color);
    text-align: right;
    display: inline-block;
  }
}

.description-right {
  .description-list[data-type="desc"] & {
    margin-inline-start: $description-arrow-width + $blank-margin;
  }
  .description-list[data-type="par"] & {
    margin-inline-start: $description-dash-width + $blank-margin;
  }
  &::before {
    color: var(--blue-color);
    opacity: 0.5;
    .description-list[data-type="desc"] & {
      @include icon("regular", "\F105");
      width: $description-arrow-width;
      margin-inline-end: $blank-margin;
      margin-inline-start: 0em - ($description-arrow-width + $blank-margin);
      display: inline-block;
    }
    .description-list[data-type="par"] & {
      width: $description-dash-width;
      margin-inline-end: $blank-margin;
      margin-inline-start: 0em - $description-dash-width - $blank-margin;
      display: inline-block;
      content: "—";
    }
  }
}