@charset "utf-8";

@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.error {
  row-gap: 12rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-code {
  @include special-font;
  margin-block-end: -0.15em;
  font-size: 72rpx;
  color: var(--primary-color);
}

.error-description {
  color: color-mix(in oklch, var(--primary-color) 50%, var(--text-color));
  display: flex;
  justify-content: center;
}