@charset "utf-8";

@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.error-code-container {
  column-gap: 30rpx;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-code {
  @include special-font;
  margin-block-end: -0.15em;
  font-size: 500%;
}

.error-message {
  font-size: 150%;
  font-family: "Gilit Web";
  font-weight: bold;
  line-height: 1.2;
}

.error-description {
  margin-block-start: 10rpx;
  color: color-mix(in oklch, var(--primary-color) 50%, var(--text-color));
  display: flex;
  justify-content: center;
}