@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$figure-container-column-gap: 40px;

.figure-container {
  @include scrollbar(0rpx, 0rpx, transparent, transparent);
  column-gap: $figure-container-column-gap;
  display: flex;
  align-items: center;
  overflow: auto;
  >:first-child {
    margin-inline-start: auto;
  }
  >:last-child {
    margin-inline-end: auto;
  }
  @include desktop {
    margin-inline: 0rpx - $main-horizontal-padding;
  }
  @include mobile {
    margin-inline: 0rpx - $main-smartphone-horizontal-padding;
  }
}