@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$form-input-vertical-padding: 1rpx;
$form-input-horizontal-padding: 10rpx;

.form {
  text-align: center;
}

.form-table {
  margin-inline: auto;
  line-height: $line-height;
  border-collapse: collapse;
  white-space: nowrap;
}

.form-table tr +tr td {
  padding-block-start: 5rpx;
}

.form-input {
  padding-block: $form-input-vertical-padding;
  padding-inline: $form-input-horizontal-padding;
  line-height: $line-height;
  background-color: var(--block-background-color);
  text-align: start;
  box-sizing: content-box;
}

.form-button {
  padding-block: $form-input-vertical-padding;
  padding-inline: $form-input-horizontal-padding;
  color: var(--current-background-color);
  line-height: $line-height;
  text-align: center;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, var(--secondary-color) 50%, var(--secondary-active-color) 50%);
  transition: background-position 0.2s;
  display: inline-block;
  &:not(:hover) {
    background-position: 0% 0%;
  }
  &:hover {
    background-position: 0% 100%;
  }
}