@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.gloss {
  line-height: $line-height;
  text-align: justify;
  word-spacing: 0.5em;
}

.sentence-gloss {
  text-align: justify;
  word-spacing: 0.5em;
}

.gloss-word {
  word-spacing: normal;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: inline-flex;
  >:not(:first-child) {
    margin-top: -0.2em;
  }
}

.gloss-morpheme {
  font-size: 80%;
}