@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.gloss {
  @include justify;
  line-height: $line-height;
  word-spacing: 0.5em;
}

.sentence-gloss {
  @include justify;
  word-spacing: 0.5em;
}

.gloss-word {
  word-spacing: normal;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: inline-flex;
  >:not(:first-child) {
    margin-top: -0.2em;
  }
}

.gloss-morpheme {
  font-size: 80%;
}

.gloss-separator {
  opacity: 0.5;
  &[data-space] {
    margin: 0em 0.2em;
  }
}

.gloss-punctuation {
  opacity: 0.5;
}