@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.image {
  display: block;
}

.svg {
  overflow: visible;
  &[data-inline] {
    width: auto;
    height: 1.1em;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
  }
}