@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$proof-horizontal-padding: 12rpx;

.theorem {
  padding-block: $block-vertical-padding;
  background-color: var(--block-background-color);
  --current-background-color: var(--block-background-color);
  @include desktop {
    margin-inline: 0rpx - $main-horizontal-padding;
    padding-inline: $main-horizontal-padding;
  }
  @include mobile {
    margin-inline: 0rpx - $main-smartphone-horizontal-padding;  
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.theorem-number-wrapper {
  margin-inline-end: $blank-margin;
  color: var(--primary-color);
  line-height: $line-height;
  float: left;
}

.theorem-name {
}

.proof {
  padding-inline-start: $proof-horizontal-padding;
  border-inline-start: double 3rpx var(--primary-color);
}

.proof-label {
  margin-inline-end: $blank-margin;
  color: var(--primary-color);
  line-height: $line-height;
  float: left;
}