@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.pdf {
  width: 100%;
  max-width: $main-max-width * 0.8;
  margin-inline: auto;
  aspect-ratio: 1 / 1.4;
  display: block !important;
  box-sizing: border-box;
}

.slide {
  width: 100%;
  max-width: $main-max-width * 0.8;
  margin-inline: auto;
  display: block;
  box-sizing: border-box;
  .speakerdeck-iframe {
    border: none !important;
    box-shadow: none !important;
  }
}

.youtube {
  width: 100%;
  max-width: $main-max-width * 0.8;
  margin-inline: auto;
  aspect-ratio: 16 / 9;
  display: block;
  box-sizing: border-box;
  iframe {
    width: 100%;
    height: 100%;
  }
}