@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$todo-vertical-padding: 8rpx;
$todo-horizontal-padding: 12rpx;

.todo {
  padding-block: $todo-vertical-padding;
  padding-inline: $todo-horizontal-padding;
  column-gap: $blank-margin;
  border: dashed 1rpx var(--primary-color);
  display: flex;
  align-items: center;
  &::before {
    @include icon("regular", "\F06A");
    width: $bullet-width;
    margin-inline-end: $blank-margin;
    color: var(--primary-color);
    flex: 0 0 auto;
  }
}

.todo-inner {
  line-height: $line-height;
  flex: 1 1 auto;
}