@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$normal-list-column-gap: 30px;

.normal-list {
  @include justify;
  column-gap: $normal-list-column-gap;
  line-height: $line-height;
  list-style: none;
  &[data-column="2"] {
    column-count: 2;
  }
  &[data-column="3"] {
    @include desktop {
      column-count: 3;
    }
    @include mobile {
      column-count: 2;
    }
  }
}

.normal-list[data-type="unordered"] >.normal-item,
.normal-list[data-type="unordered"] .normal-list >.normal-item {
  margin-inline-start: $bullet-width + $bordered-blank-margin;
  &::before {
    @include icon("solid", "\F0DA");
    width: $bullet-width;
    margin-inline-end: $bordered-blank-margin;
    margin-inline-start: 0em - ($bullet-width + $bordered-blank-margin);
    color: var(--primary-color);
    text-align: end;
    display: inline-block;
  }
}

.normal-list[data-type="ordered"] {
  counter-reset: normal-list;
}

.normal-list[data-type="ordered"] >.normal-item {
  margin-inline-start: 1em + $bordered-blank-margin;
  counter-increment: normal-list;
  &::before {
    @include box(var(--primary-color), false);
    margin-inline-end: fix-em($bordered-blank-margin, 80%);
    margin-inline-start: fix-em(0em - (1em + $bordered-blank-margin), 80%);
    content: counter(normal-list);
  }
}