@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.paragraph {
  @include justify;
  line-height: $line-height;
  &[data-rtl] {
    direction: rtl;
  }
}

.paragraph-number {
  @include box(var(--gray-color), true);
  margin-inline-end: fix-em($bordered-blank-margin, 80%);
  &::before {
    content: attr(data-number);
  }
}