@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$program-number-width: 25rpx;
$program-line-horizontal-padding: 10rpx;

.program-container {
  --background-color: #{$block-background-color};
  margin-left: 0rpx - $main-horizontal-padding;
  margin-right: 0rpx - $main-horizontal-padding;
  padding: 0rpx $main-horizontal-padding;
  background-color: $block-background-color;
  @include smartphone {
    margin-left: 0rpx - $main-smartphone-horizontal-padding;
    margin-right: 0rpx - $main-smartphone-horizontal-padding;  
    padding-left: $main-smartphone-horizontal-padding;
    padding-right: $main-smartphone-horizontal-padding;
  }
  &[data-type="pre"] +&[data-type="samp"] {
    margin-top: 3rpx;
  }
}

.program-inner-container {
  @include scrollbar(0rpx, 0rpx, transparent, transparent);
  overflow: auto;
}

.program {
  width: max-content;
  display: grid;
  grid-template-columns: auto;
  &[data-show-number] {
    grid-template-columns: $program-number-width auto;
  }
}

.program-number {
  border-right: 1px $main-background-color solid;
  font-size: 80%;
  color: $blue-color;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: attr(data-number);
  }
  &:first-of-type {
    padding-top: $block-vertical-padding;
  }
  &:last-of-type {
    padding-bottom: $block-vertical-padding;
  }
}

.program-line {
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
  font-weight: $monospace-font-weight;
  line-height: $program-line-height;
  letter-spacing: $monospace-letter-spacing;
  white-space: pre-wrap;
  .program-number +& {
    padding-left: $program-line-horizontal-padding;
  }
  &:first-of-type {
    padding-top: $block-vertical-padding;
  }
  &:last-of-type {
    padding-bottom: $block-vertical-padding;
  }
}