@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$program-number-width: 25rpx;
$program-line-horizontal-padding: 10rpx;

.program-container {
  background-color: var(--block-background-color);
  --current-background-color: var(--block-background-color);
  @include desktop {
    margin-inline: 0rpx - $main-horizontal-padding;
    padding-inline: $main-horizontal-padding;
  }
  @include mobile {
    margin-inline: 0rpx - $main-smartphone-horizontal-padding;  
    padding-inline: $main-smartphone-horizontal-padding;
  }
  &[data-type="pre"] +&[data-type="samp"] {
    margin-block-start: 3rpx;
  }
}

.program-inner-container {
  @include scrollbar(0rpx, 0rpx, transparent, transparent);
  overflow: auto;
}

.program {
  width: max-content;
  display: grid;
  grid-template-columns: auto;
  &[data-show-number] {
    grid-template-columns: $program-number-width auto;
  }
}

.program-number {
  font-size: 80%;
  color: var(--primary-color);
  border-inline-end: solid 1px var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-of-type {
    padding-block-start: $block-vertical-padding;
  }
  &:last-of-type {
    padding-block-end: $block-vertical-padding;
  }
  &::before {
    content: attr(data-number);
  }
}

.program-line {
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
  font-weight: $monospace-font-weight;
  line-height: $program-line-height;
  letter-spacing: $monospace-letter-spacing;
  white-space: pre-wrap;
  &:first-of-type {
    padding-block-start: $block-vertical-padding;
  }
  &:last-of-type {
    padding-block-end: $block-vertical-padding;
  }
  .program-number +& {
    padding-inline-start: $program-line-horizontal-padding;
  }
}