@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$quiz-nested-list-marker-width: $bullet-width + $blank-margin + $arrow-width;

.quiz-list {
  --background-color: #{$block-background-color};
  margin-left: 0rpx - $main-horizontal-padding;
  margin-right: 0rpx - $main-horizontal-padding;
  padding: $block-vertical-padding $main-horizontal-padding;
  line-height: $line-height;
  text-align: justify;
  background-color: $block-background-color;
  @include smartphone {
    margin-left: 0rpx - $main-smartphone-horizontal-padding;
    margin-right: 0rpx - $main-smartphone-horizontal-padding;  
    padding-left: $main-smartphone-horizontal-padding;
    padding-right: $main-smartphone-horizontal-padding;
  }
}

.quiz-nested-list {
  text-align: justify;
  list-style: none;
}

.quiz-item {
  margin-left: $bullet-width + $blank-margin;
  &::before {
    @include icon-font;
    width: fix-em($bullet-width, 90%);
    margin-right: fix-em($blank-margin, 90%);
    margin-left: fix-em(0em - $bullet-width - $blank-margin, 90%);
    font-size: 90%;
    color: $blue-color;
    text-align: right;
    display: inline-block;
    content: "\F0DA";
  }
}

.quiz-nested-item:not([data-unmarked]) {
  margin-left: $quiz-nested-list-marker-width + $blank-margin;
  &::before {
    @include icon-font;
    width: fix-em($quiz-nested-list-marker-width, 90%);
    margin-right: fix-em($blank-margin, 90%);
    margin-left: fix-em(0em - $quiz-nested-list-marker-width - $blank-margin, 90%);
    font-size: 90%;
    color: $blue-color;
    text-align: right;
    display: inline-block;
    content: "\F061";
  }
}

.quiz-nested-item[data-unmarked] {
  margin-left: $bullet-width + $blank-margin;
}

.quiz-answer-item {
  &::before {
    margin-right: $blank-margin;
    font-family: $special-font-family;
    color: $blue-color;
    content: "A.";
  }
}

.quiz-answer-item .quiz-masked {
  display: none;
}

.quiz-answer-item:hover .quiz-masked {
  display: inline;
}

.quiz-answer-item .box {
  margin-right: $bordered-blank-margin;
}

.quiz-blank {
  width: 4em;
  padding: 0.1em 0em;
  font-family: $serif-font-family;
  color: $blue-color;
  line-height: 100%;
  text-align: center;
  border: 1rpx $blue-color solid;
  display: inline-block;
  &::before {
    content: "?";
  }
}

.quiz-choice-list {
  list-style: none;
  display: inline;
  counter-reset: quiz-choice-list;
}

.quiz-choice-item {
  counter-increment: quiz-choice-list;
  display: inline;
  & +& {
    margin-left: 30rpx;
  }
  &::before {
    @include box($blue-color, false);
    margin-right: fix-em($bordered-blank-margin, 80%);
    content: counter(quiz-choice-list);
  }
}