@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$quiz-nested-list-marker-width: $bullet-width + $blank-margin + $arrow-width;

.quiz-list {
  @include justify;
  padding-block: $block-vertical-padding;
  line-height: $line-height;
  background-color: var(--block-background-color);
  --current-background-color: var(--block-background-color);
  @include desktop {
    margin-inline: 0rpx - $main-horizontal-padding;
    padding-inline: $main-horizontal-padding;
  }
  @include mobile {
    margin-inline: 0rpx - $main-smartphone-horizontal-padding;  
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.quiz-nested-list {
  @include justify;
  list-style: none;
}

.quiz-item {
  margin-inline-start: $bullet-width + $blank-margin;
  &::before {
    @include icon-font;
    width: fix-em($bullet-width, 90%);
    margin-inline-end: fix-em($blank-margin, 90%);
    margin-inline-start: fix-em(0em - $bullet-width - $blank-margin, 90%);
    font-size: 90%;
    color: var(--blue-color);
    text-align: end;
    display: inline-block;
    content: "\F0DA";
  }
}

.quiz-nested-item:not([data-unmarked]) {
  margin-inline-start: $quiz-nested-list-marker-width + $blank-margin;
  &::before {
    @include icon-font;
    width: fix-em($quiz-nested-list-marker-width, 90%);
    margin-inline-end: fix-em($blank-margin, 90%);
    margin-inline-start: fix-em(0em - $quiz-nested-list-marker-width - $blank-margin, 90%);
    font-size: 90%;
    color: var(--blue-color);
    text-align: end;
    display: inline-block;
    content: "\F061";
  }
}

.quiz-nested-item[data-unmarked] {
  margin-inline-start: $bullet-width + $blank-margin;
}

.quiz-answer-item {
  &::before {
    @include special-font;
    margin-inline-end: $blank-margin;
    color: var(--blue-color);
    content: "A.";
  }
}

.quiz-masked {
  .quiz-answer-item:not(:hover) & {
    display: none;
  }
  .quiz-answer-item:hover & {
    display: inline;
  }
}

.quiz-answer-item .box {
  margin-inline-end: $bordered-blank-margin;
}

.quiz-blank {
  width: 4em;
  padding-block: 0.1em;
  font-family: $serif-font-family;
  color: var(--blue-color);
  line-height: 1;
  text-align: center;
  border: solid 1rpx var(--blue-color);
  display: inline-block;
  &::before {
    content: "?";
  }
}

.quiz-choice-list {
  list-style: none;
  display: inline;
  counter-reset: quiz-choice-list;
}

.quiz-choice-item {
  counter-increment: quiz-choice-list;
  display: inline;
  & +& {
    margin-inline-start: 30rpx;
  }
  &::before {
    @include box(var(--blue-color), false);
    margin-inline-end: fix-em($bordered-blank-margin, 80%);
    content: counter(quiz-choice-list);
  }
}