@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$section-height: 42rpx;
$subsection-height: 36rpx;
$section-skew-angle: -15deg;

.section {
  height: $section-height;
  line-height: $line-height;
  overflow: hidden;
  @include desktop {
    margin-inline: 0rpx - $main-horizontal-padding;
  }
  @include mobile {
    margin-inline: 0rpx - $main-smartphone-horizontal-padding;  
  }
}

.section-inner {
  height: 100%;
  font-size: 130%;
  font-weight: normal;
  color: var(--current-background-color);
  line-height: $section-height;
  position: relative;
  z-index: 0;
  @include desktop {
    padding-inline: $main-horizontal-padding;
  }
  @include mobile {
    padding-inline: $main-smartphone-horizontal-padding;
  }
  &::before {
    inset: 0rpx;
    background-color: var(--blue-color);
    position: absolute;
    z-index: -2;
    content: "";
  }
  &::after {
    inset-block: 0rpx;
    inset-inline-end: -20rpx;
    border-inline-start: solid 6rpx var(--main-background-color);
    background-color: var(--orange-color);
    background-origin: padding-box;
    transform: skew($section-skew-angle);
    position: absolute;
    z-index: -1;
    content: "";
    @include desktop {
      width: 20rpx - 3rpx + $main-horizontal-padding;
    }
    @include mobile {
      width: 20rpx - 3rpx + $main-smartphone-horizontal-padding;
    }
  }
}

.subsection {
  height: $subsection-height;
  line-height: $line-height;
  overflow: hidden;
  @include desktop {
    margin-inline: 0rpx - $main-horizontal-padding;
  }
  @include mobile {
    margin-inline: 0rpx - $main-smartphone-horizontal-padding;  
  }
}

.subsection-inner {
  height: 100%;
  font-size: 110%;
  font-weight: normal;
  color: var(--blue-color);
  line-height: $subsection-height;
  position: relative;
  z-index: 0;
  @include desktop {
    padding-inline: $main-horizontal-padding;
  }
  @include mobile {
    padding-inline: $main-smartphone-horizontal-padding;
  }
  &::before {
    inset-block: 0rpx;
    inset-inline-start: 0rpx;
    border-block: solid 1rpx var(--blue-color);
    position: absolute;
    z-index: -2;
    content: "";
    @include desktop {
      inset-inline-end: $main-horizontal-padding;
    }
    @include mobile {
      inset-inline-end: $main-smartphone-horizontal-padding;
    }
  }
  &::after {
    inset-block: 0rpx;
    inset-inline-end: 0rpx;
    border-block: solid 1rpx var(--orange-color);
    position: absolute;
    z-index: -2;
    content: "";
    @include desktop {
      width: $main-horizontal-padding;
    }
    @include mobile {
      width: $main-smartphone-horizontal-padding;
    }
  }
}

.subsubsection {
  line-height: $line-height;
  overflow: hidden;
  position: relative;
  z-index: 0;
  @include desktop {
    margin-inline: 0rpx - $main-horizontal-padding;
    padding-inline: $main-horizontal-padding;
  }
  @include mobile {
    margin-inline: 0rpx - $main-smartphone-horizontal-padding;  
    padding-inline: $main-smartphone-horizontal-padding;
  }
  &::before {
    inset-block-start: 50%;
    inset-block-end: 0rpx;
    inset-inline-start: 0rpx;
    border-block-start: solid 1rpx var(--blue-color);
    position: absolute;
    z-index: -2;
    content: "";
    @include desktop {
      width: calc(#{$main-horizontal-padding} - 0.5rem);
    }
    @include mobile {
      width: calc(#{$main-smartphone-horizontal-padding} - 0.5rem);
    }
  }
  &::after {
    inset-block-start: 50%;
    inset-block-end: 0rpx;
    inset-inline-end: 0rpx;
    border-block-start: solid 1rpx var(--orange-color);
    position: absolute;
    z-index: -2;
    content: "";
    @include desktop {
      width: $main-horizontal-padding;
    }
    @include mobile {
      width: $main-smartphone-horizontal-padding;
    }
  }
}

.subsubsection-inner {
  font-size: 105%;
  font-weight: normal;
  color: var(--blue-color);
  display: flex;
  align-items: baseline;
  z-index: 0;
  &::after {
    margin-inline-start: 0.5rem;
    border-block-start: solid 1rpx var(--blue-color);
    align-self: center;
    flex: 1 1 auto;
    z-index: -2;
    content: "";
    @include desktop {
      width: $main-horizontal-padding;
    }
    @include mobile {
      width: $main-smartphone-horizontal-padding;
    }
  }
}

.section-tag,
.subsection-tag,
.subsubsection-tag {
  margin-inline-end: fix-em($blank-margin, 80%);
  font-size: 80%;
  text-transform: uppercase;
  opacity: 0.7;
}

.section-number,
.subsection-number,
.subsubsection-number {
  margin-inline-end: fix-em($blank-margin, 80%);
  font-size: 80%;
  opacity: 0.7;
}

.section-separator {
  border-block-end: dashed 1rpx var(--blue-color);
  opacity: 0.7;
}