@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.section-table-tag {
  margin-right: fix-em($blank-margin, 80%);
  font-size: 80%;
  text-transform: uppercase;
  opacity: 0.7;
}

.section-table-number {
  margin-right: fix-em($blank-margin, 80%);
  font-size: 80%;
  opacity: 0.7;
}