@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$section-height: 42rpx;
$subsection-height: 36rpx;

.section {
  height: $section-height;
  margin-left: 0rpx - $main-horizontal-padding;
  margin-right: 0rpx - $main-horizontal-padding;
  line-height: $line-height;
  overflow: hidden;
  @include mobile {
    margin-left: 0rpx - $main-smartphone-horizontal-padding;
    margin-right: 0rpx - $main-smartphone-horizontal-padding;  
  }
}

.section-inner {
  height: 100%;
  padding: 0rpx $main-horizontal-padding;
  font-size: 130%;
  font-weight: normal;
  color: var(--current-background-color);
  line-height: $section-height;
  position: relative;
  z-index: 0;
  @include mobile {
    padding-left: $main-smartphone-horizontal-padding;
    padding-right: $main-smartphone-horizontal-padding;
  }
  &::before {
    top: 0rpx;
    bottom: 0rpx;
    left: 0rpx;
    right: 0rpx;
    background-color: var(--blue-color);
    position: absolute;
    z-index: -2;
    content: "";
  }
  &::after {
    top: 0rpx;
    bottom: 0rpx;
    right: -20rpx;
    width: 20rpx - 3rpx + $main-horizontal-padding;
    border-left: 6rpx var(--main-background-color) solid;
    background-color: var(--orange-color);
    background-origin: padding-box;
    transform: skew($skew-angle);
    position: absolute;
    z-index: -1;
    content: "";
    @include mobile {
      width: 20rpx - 3rpx + $main-smartphone-horizontal-padding;
    }
  }
}

.subsection {
  height: $subsection-height;
  margin-left: 0rpx - $main-horizontal-padding;
  margin-right: 0rpx - $main-horizontal-padding;
  line-height: $line-height;
  overflow: hidden;
  @include mobile {
    margin-left: 0rpx - $main-smartphone-horizontal-padding;
    margin-right: 0rpx - $main-smartphone-horizontal-padding;  
  }
}

.subsection-inner {
  height: 100%;
  padding: 0rpx $main-horizontal-padding;
  font-size: 110%;
  font-weight: normal;
  color: var(--blue-color);
  line-height: $subsection-height;
  position: relative;
  z-index: 0;
  @include mobile {
    padding-left: $main-smartphone-horizontal-padding;
    padding-right: $main-smartphone-horizontal-padding;
  }
  &::before {
    top: 0rpx;
    bottom: 0rpx;
    left: 0rpx;
    right: $main-horizontal-padding;
    border-top: 1rpx var(--blue-color) solid;
    border-bottom: 1rpx var(--blue-color) solid;
    position: absolute;
    z-index: -2;
    content: "";
    @include mobile {
      right: $main-smartphone-horizontal-padding;
    }
  }
  &::after {
    width: $main-horizontal-padding;
    top: 0rpx;
    bottom: 0rpx;
    right: 0rpx;
    border-top: 1rpx var(--orange-color) solid;
    border-bottom: 1rpx var(--orange-color) solid;
    position: absolute;
    z-index: -2;
    content: "";
    @include mobile {
      width: $main-smartphone-horizontal-padding;
    }
  }
}

.subsubsection {
  margin-left: 0rpx - $main-horizontal-padding;
  margin-right: 0rpx - $main-horizontal-padding;
  padding-left: $main-horizontal-padding;
  padding-right: $main-horizontal-padding;
  line-height: $line-height;
  display: flex;
  overflow: hidden;
  position: relative;
  z-index: 0;
  @include mobile {
    margin-left: 0rpx - $main-smartphone-horizontal-padding;
    margin-right: 0rpx - $main-smartphone-horizontal-padding;  
    padding-left: $main-smartphone-horizontal-padding;
    padding-right: $main-smartphone-horizontal-padding;
  }
  &::before {
    top: 50%;
    bottom: 0rpx;
    left: 0rpx;
    right: $main-horizontal-padding;
    border-top: 1rpx var(--blue-color) solid;
    position: absolute;
    z-index: -2;
    content: "";
    @include mobile {
      right: $main-smartphone-horizontal-padding;
    }
  }
  &::after {
    width: $main-horizontal-padding;
    top: 50%;
    bottom: 0rpx;
    right: 0rpx;
    border-top: 1rpx var(--orange-color) solid;
    position: absolute;
    z-index: -2;
    content: "";
    @include mobile {
      width: $main-smartphone-horizontal-padding;
    }
  }
}

.subsubsection-inner {
  margin: 0em -0.5em;
  padding: 0em 0.5em;
  font-size: 105%;
  font-weight: normal;
  color: var(--blue-color);
  background-color: var(--main-background-color);
  position: relative;
  z-index: 0;
}

.section-tag,
.subsection-tag,
.subsubsection-tag {
  margin-right: fix-em($blank-margin, 80%);
  font-size: 80%;
  text-transform: uppercase;
  opacity: 0.7;
}

.section-number,
.subsection-number,
.subsubsection-number {
  margin-right: fix-em($blank-margin, 80%);
  font-size: 80%;
  opacity: 0.7;
}

.section-separator {
  border-block-end: 1rpx var(--blue-color) dashed;
  opacity: 0.7;
}