@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.sentence-list {
  @include justify;
  padding-block: $block-vertical-padding;
  line-height: $line-height;
  background-color: var(--block-background-color);
  --current-background-color: var(--block-background-color);
  @include desktop {
    margin-inline: 0rpx - $main-horizontal-padding;
    padding-inline: $main-horizontal-padding;
  }
  @include mobile {
    margin-inline: 0rpx - $main-smartphone-horizontal-padding;  
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.sentence-nested-list {
  @include justify;
  list-style: none;
}

.sentence-list[data-type="unordered"] >.sentence-item {
  margin-inline-start: $bullet-width + $blank-margin;
  &::before {
    @include icon("solid", "\F0DA");
    width: $bullet-width;
    margin-inline-end: $blank-margin;
    margin-inline-start: 0em - ($bullet-width + $blank-margin);
    color: var(--primary-color);
    text-align: end;
    display: inline-block;
  }
}

.sentence-list[data-type="unordered"] >.sentence-nested-item {
  margin-inline-start: $bullet-width + $blank-margin + $arrow-width + $blank-margin;
  &::before {
    @include icon("regular", "\F061");
    width: $bullet-width + $blank-margin + $arrow-width + $blank-margin;
    margin-inline-end: $blank-margin;
    margin-inline-start: 0em - ($bullet-width + $blank-margin + $arrow-width + $blank-margin) - $blank-margin;
    color: var(--primary-color);
    text-align: end;
    display: inline-block;
  }
}

.sentence-list[data-type="ordered"] >.sentence-item {
  margin-inline-start: 1em + $blank-margin;
  &::before {
    @include box(var(--primary-color), false);
    margin-inline-start: fix-em(0em - (1em + $bordered-blank-margin), 80%);
    margin-inline-end: fix-em($bordered-blank-margin, 80%);
    content: attr(data-tag);
  }
}

.sentence-list[data-type="ordered"] >.sentence-nested-item {
  margin-inline-start: 1em + $blank-margin + $arrow-width + $blank-margin;
  &::before {
    @include icon("regular", "\F061");
    width: 1em + $blank-margin + $arrow-width + $blank-margin;
    margin-inline-end: $blank-margin;
    margin-inline-start: 0em - (1em + $blank-margin + $arrow-width + $blank-margin) - $blank-margin;
    color: var(--primary-color);
    text-align: end;
    display: inline-block;
  }
}

.sentence-mark {
  margin-inline-end: 0.1em;
  color: var(--primary-color);
}