@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.sentence-list {
  @include justify;
  --background-color: #{$block-background-color};
  margin-left: 0rpx - $main-horizontal-padding;
  margin-right: 0rpx - $main-horizontal-padding;
  padding: $block-vertical-padding $main-horizontal-padding;
  line-height: $line-height;
  background-color: $block-background-color;
  @include smartphone {
    margin-left: 0rpx - $main-smartphone-horizontal-padding;
    margin-right: 0rpx - $main-smartphone-horizontal-padding;  
    padding-left: $main-smartphone-horizontal-padding;
    padding-right: $main-smartphone-horizontal-padding;
  }
}

.sentence-nested-list {
  @include justify;
  list-style: none;
}

.sentence-list[data-type="unordered"] >.sentence-item {
  margin-left: $bullet-width + $blank-margin;
  &::before {
    @include icon-font;
    width: fix-em($bullet-width, 90%);
    margin-right: fix-em($blank-margin, 90%);
    margin-left: fix-em(0em - $bullet-width - $blank-margin, 90%);
    font-size: 90%;
    color: $blue-color;
    text-align: right;
    display: inline-block;
    content: "\F0DA";
  }
}

.sentence-list[data-type="unordered"] >.sentence-nested-item {
  margin-left: $bullet-width + $blank-margin + $arrow-width + $blank-margin;
  &::before {
    @include icon-font;
    width: fix-em($bullet-width + $blank-margin + $arrow-width + $blank-margin, 90%);
    margin-right: fix-em($blank-margin, 90%);
    margin-left: fix-em(0em - ($bullet-width + $blank-margin + $arrow-width + $blank-margin) - $blank-margin, 90%);
    font-size: 90%;
    color: $blue-color;
    text-align: right;
    display: inline-block;
    content: "\F061";
  }
}

.sentence-list[data-type="ordered"] >.sentence-item {
  margin-left: 1em + $blank-margin;
  &::before {
    @include box($blue-color, false);
    margin-left: fix-em(0em - (1em + $bordered-blank-margin), 80%);
    margin-right: fix-em($bordered-blank-margin, 80%);
    content: attr(data-tag);
  }
}

.sentence-list[data-type="ordered"] >.sentence-nested-item {
  margin-left: 1em + $blank-margin + $arrow-width + $blank-margin;
  &::before {
    @include icon-font;
    width: fix-em(1em + $blank-margin + $arrow-width + $blank-margin, 90%);
    margin-right: fix-em($blank-margin, 90%);
    margin-left: fix-em(0em - (1em + $blank-margin + $arrow-width + $blank-margin) - $blank-margin, 90%);
    font-size: 90%;
    color: $blue-color;
    text-align: right;
    display: inline-block;
    content: "\F061";
  }
}

.sentence-mark {
  margin-right: 0.1em;
  color: $blue-color;
}