@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$translation-list-column-gap: 15px;

.translation-list {
  @include justify;
  column-gap: $translation-list-column-gap * 2;
  line-height: $line-height;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  &::before {
    inset-block: 0rpx;
    inset-inline-start: 50%;
    border-inline-end: solid 1rpx var(--blue-color);
    position: absolute;
    content: "";
  }
}