@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$translation-list-column-gap: 15px;

.translation-list {
  @include justify;
  column-gap: $translation-list-column-gap * 2;
  line-height: $line-height;
  display: grid;
  position: relative;
  &::before {
    inset-block: 0rpx;
    border-inline-end: solid 1rpx var(--blue-color);
    position: absolute;
    content: "";
  }
  @include desktop {
    grid-template-columns: 9fr 11fr;
    &::before {
      inset-inline-start: calc((100% - #{$translation-list-column-gap * 2}) * 0.45 + #{$translation-list-column-gap});
    }
  }
  @include mobile {
    grid-template-columns: 1fr 1fr;
    &::before {
      inset-inline-start: calc((100% - #{$translation-list-column-gap * 2}) * 0.5 + #{$translation-list-column-gap});
    }
  }
}