<!DOCTYPE html>

<html lang="{{= it.variables.outputLanguage }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.7">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Ziphil">
    <meta property="og:url" content="{{= it.avendiaConfigs.getRemoteUrl(it.variables.path, it.variables.outputLanguage) }}">
    <meta property="og:title" content="{{= it.variables.title }}">
    <meta property="og:description" content="{{= it.variables.title }}">
    <meta property="og:image" content="{{= it.avendiaConfigs.getRemoteDomain(it.variables.outputLanguage) }}/material/logo/1.png">
    <script src="/program/script/11.js"></script>
{{= it.headerNode?.toString() }}
    <link rel="stylesheet" type="text/css" href="/style/1.css">
    <title>{{= it.variables.pageTitle }}</title>
  </head>
  <body>

    <header>
      <div class="title">
        <a href="/">Avendia<sup>19</sup></a>
      </div>
      <div class="language">
        <a href="{{= it.avendiaConfigs.getRemoteDomain(it.variables.foreignLanguage) }}">{{= it.translations.name[it.variables.foreignLanguage] }}</a>
      </div>
    </header>

    <nav class="menu">
      <ul class="menu">
        <li>
          <a href="/conlang/">{{= it.translations.conlang.index[it.variables.outputLanguage] }}</a>
          <ul>
            <li><a href="/conlang/grammer/">{{= it.translations.conlang.grammer[it.variables.outputLanguage] }}</a></li>
            <li><a href="/conlang/course/">{{= it.translations.conlang.course[it.variables.outputLanguage] }}</a></li>
            <li><a href="/conlang/database/">{{= it.translations.conlang.database[it.variables.outputLanguage] }}</a></li>
            <li><a href="/conlang/culture/">{{= it.translations.conlang.culture[it.variables.outputLanguage] }}</a></li>
            <li><a href="/conlang/work/">{{= it.translations.conlang.work[it.variables.outputLanguage] }}</a></li>
            <li><a href="/conlang/translation/">{{= it.translations.conlang.translation[it.variables.outputLanguage] }}</a></li>
            <li><a href="/conlang/theory/">{{= it.translations.conlang.theory[it.variables.outputLanguage] }}</a></li>
            <li><a href="/conlang/document/">{{= it.translations.conlang.document[it.variables.outputLanguage] }}</a></li>
            <li><a href="/conlang/table/">{{= it.translations.conlang.table[it.variables.outputLanguage] }}</a></li>
          </ul>
        </li>
        <li>
          <a href="/application/">{{= it.translations.application.index[it.variables.outputLanguage] }}</a>
          <ul>
            <li><a href="/application/download/">{{= it.translations.application.download[it.variables.outputLanguage] }}</a></li>
            <li><a href="/application/web/">{{= it.translations.application.web[it.variables.outputLanguage] }}</a></li>
          </ul>
        </li>
        <li>
          <a href="/diary/">{{= it.translations.diary.index[it.variables.outputLanguage] }}</a>
          <ul>
            <li><a href="/diary/conlang/">{{= it.translations.diary.conlang[it.variables.outputLanguage] }}</a></li>
            <li><a href="/diary/mathematics/">{{= it.translations.diary.mathematics[it.variables.outputLanguage] }}</a></li>
            <li><a href="/diary/language/">{{= it.translations.diary.language[it.variables.outputLanguage] }}</a></li>
            <li><a href="/diary/application/">{{= it.translations.diary.application[it.variables.outputLanguage] }}</a></li>
            <li><a href="/diary/game/">{{= it.translations.diary.game[it.variables.outputLanguage] }}</a></li>
          </ul>
        </li>
        <li>
          <a href="/other/">{{= it.translations.other.index[it.variables.outputLanguage] }}</a>
          <ul>
            <li><a href="/other/mathematics/">{{= it.translations.other.mathematics[it.variables.outputLanguage] }}</a></li>
            <li><a href="/other/language/">{{= it.translations.other.language[it.variables.outputLanguage] }}</a></li>
            <li><a href="/other/tsolitaire/">{{= it.translations.other.tsolitaire[it.variables.outputLanguage] }}</a></li>
            <li><a href="/other/other/">{{= it.translations.other.other[it.variables.outputLanguage] }}</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <nav class="breadcrumb">
{{= it.navigationNode?.toString() }}
    </nav>

    <article class="{{= it.variables.articleType }}">
{{= it.document.toString() }}
    </article>

    <footer>
      <div class="icon">
        <a class="twitter" href="https://twitter.com/Ziphil" target="_blank"></a>
        <a class="youtube" href="https://www.youtube.com/channel/UCF2sTP1NGBVFr79aJiKprsg/" target="_blank"></a>
        <a class="discord" href="https://discord.gg/qdRyE2ZExf" target="_blank"></a>
        <a class="github" href="https://github.com/Ziphil" target="_blank"></a>
      </div>
      <div class="copyright">
        Copyright © 2009–{{= new Date().getFullYear() }} Ziphil, All rights reserved.
      </div>
      <div class="counter">
        <script src="http://counter1.fc2.com/counter.php?id=3102008"></script><noscript><img alt="counter" src="http://counter1.fc2.com/counter_img.php?id=3102008"></noscript> 
      </div>
    </footer>

    <div class="top-link">
      <a href="#top">TOP</a>
    </div>

  </body>
</html>