<!DOCTYPE html>


<html lang="{{= it.variables.language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.7">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Ziphil">
    <meta property="og:url" content="{{= it.environments.configs.getRemoteUrl(it.variables.path, it.variables.language) }}">
    <meta property="og:title" content="{{= it.variables.title }}">
    <meta property="og:description" content="{{= it.variables.title }}">
    <meta property="og:image" content="{{= it.environments.configs.getRemoteDomain(it.variables.language) }}/material/logo/1.png">
{{= it.variables.headerNode?.toString() }}
    <link rel="stylesheet" type="text/css" href="/style/1.css">
    <link rel="stylesheet" media="all" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css">
    <script src="/program/script/18.js"></script>
    <title>{{= it.variables.pageTitle }}</title>
  </head>
  <body>

    <header class="header">
      <div class="header-inner">
        <div class="header-left">
          <a class="header-title" href="/">Avendia<span class="header-title-version">20</span></a>
        </div>
        <div class="header-right">
          <nav class="header-list">
            <a class="header-item" href="/conlang/">{{= it.translations.page.conlang.index[it.variables.language] }}</a>
            <a class="header-item" href="/diary/">{{= it.translations.page.diary.index[it.variables.language] }}</a>
            <a class="header-item" href="/application/">{{= it.translations.page.application.index[it.variables.language] }}</a>
            <a class="header-item" href="/other/">{{= it.translations.page.other.index[it.variables.language] }}</a>
          </nav>
        </div>
      </div>
    </header>

    <nav class="navigation">
      <div class="navigation-inner">
{{= it.variables.navigationNode?.toString() }}
      </div>
    </nav>

    <aside class="information" id="template-information">
      <p class="information-explanation">
        このページでは、オンライン辞典ポップアップが利用できます。
        辞書データをダウンロードした後で有効にすると、単語をホバーしたときにその意味がポップアップで表示されます。
        辞書データは一度ダウンロードしていれば再度ダウンロードする必要はありません。
      </p>
      <div class="information-button-container">
        <button class="form-button" id="template-enable-popup">有効にする</button>
        <button class="form-button" id="template-download-dictionary">辞書をダウンロード</button>
      </div>
    </aside>

{{= it.document.toString() }}

    <footer class="footer">
      <address class="footer-icon-list">
        <a class="footer-icon-item" data-brand="twitter" href="https://twitter.com/Ziphil" target="_blank"></a>
        <a class="footer-icon-item" data-brand="youtube" href="https://www.youtube.com/channel/UCF2sTP1NGBVFr79aJiKprsg/" target="_blank"></a>
        <a class="footer-icon-item" data-brand="discord" href="https://discord.gg/qdRyE2ZExf" target="_blank"></a>
        <a class="footer-icon-item" data-brand="github" href="https://github.com/Ziphil" target="_blank"></a>
      </address>
      <small class="footer-copyright">
        <span class="footer-copyright-year">© 2009–{{= new Date().getFullYear() }}</span><span class="footer-copyright-author">Ziphil</span>
      </small>
      <small class="footer-counter">
        <script src="http://counter1.fc2.com/counter.php?id=3102008"></script>
        <noscript><img alt="counter" src="http://counter1.fc2.com/counter_img.php?id=3102008"></noscript> 
      </small>
    </footer>

  </body>
</html>