@charset "utf-8";

@use "sass:math" as *;
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Josefin+Sans:wght@100..700&family=Ysabeau:wght@1..1000&display=swap");
@import "util/reset.scss";
@import "util/common.scss";
@import "util/font.scss";
@import "main-module/variable.scss";
@import "main-module/color.scss";
body[data-scheme="shaleian"] { @import "main-module/header-shaleian.scss"; }
body[data-scheme="fennese"] { @import "main-module/header-fennese.scss"; }
body[data-scheme="other"] { @import "main-module/header-other.scss"; }
@import "main-module/footer.scss";
@import "main-module/information.scss";
@import "main-module/ad.scss";
body[data-scheme="shaleian"] { @import "main-module/navigation.scss"; }
body[data-scheme="fennese"] { @import "main-module/navigation-fennese.scss"; }
body[data-scheme="other"] { @import "main-module/navigation.scss"; }
@import "main-module/content-table.scss";
@import "main-module/error.scss";
@import "main-module/popup.scss";
@import "main-module/block/main.scss";
@import "main-module/block/section.scss";
@import "main-module/block/paragraph.scss";
@import "main-module/block/normal-list.scss";
@import "main-module/block/description-list.scss";
@import "main-module/block/translation-list.scss";
@import "main-module/block/sentence-list.scss";
@import "main-module/block/gloss.scss";
@import "main-module/block/quiz-list.scss";
@import "main-module/block/figure-container.scss";
@import "main-module/block/image.scss";
@import "main-module/block/normal-table.scss";
@import "main-module/block/program.scss";
@import "main-module/block/form.scss";
@import "main-module/block/section-table.scss";
@import "main-module/block/media.scss";
@import "main-module/block/misc.scss";
@import "main-module/block/math.scss";
@import "main-module/inline/common.scss";
@import "main-module/inline/basic.scss";
@import "main-module/inline/link.scss";
@import "main-module/inline/greek.scss";
@import "main-module/inline/foreign.scss";
@import "main-module/inline/misc.scss";
@import "main-module/inline/math.scss";


html {
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  @include scrollbar(5rpx, 0rpx, transparent, var(--orange-color));
  @include text-size-adjust;
  min-height: 100%;
  margin: 0rpx;
  padding: 0rpx;
  color: var(--text-color);
  font-family: $serif-font-family;
  font-weight: $serif-font-weight;
  font-feature-settings: "lnum" 1, "palt" 1, "pkna" 1;
  line-height: 1;
  text-decoration-skip-ink: none;
  background-color: var(--page-background-color);
  display: flex;
  flex-direction: column;
  &[data-scheme="shaleian"] {
    @include shaleian-scheme;
  }
  &[data-scheme="fennese"] {
    @include fennese-scheme;
  }
  &[data-scheme="other"] {
    @include other-scheme;
  }
}