@charset "utf-8";

@use "sass:math" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap");
@import "util/reset.scss";
@import "util/common.scss";
@import "util/font.scss";
@import "main-module/variable.scss";


$player-item-top-height: 85rpx;
$player-item-bottom-height: 40rpx;

html {
  height: 100%;
  font-size: 16px;
}

body {
  @include text-size-adjust;
  margin: 0rpx;
  padding: 0rpx;
  color: $text-color;
  font-family: $serif-font-family;
  font-weight: normal;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  text-decoration-skip-ink: none;
  background-image: linear-gradient(to right bottom, hsl(198, 60%, 98%), hsl(205, 60%, 98%));
}

zp-song,
zp-title-shaleian,
zp-title-normal,
zp-description {
  display: none;
}

.header {
  margin-block-start: 40rpx;
  font-family: $special-font-family;
  font-size: 250%;
  font-weight: 600;
  color: $blue-color;
  text-align: center;
}

.main {
  width: $main-width;
  max-width: $main-max-width;
  margin-block: 40rpx;
  margin-inline: auto;
  box-sizing: content-box;
  @include smartphone {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.player-list {
  width: 100%;
  row-gap: 30rpx;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.player-item {
  --background-color: #{hsl(198, 60%, 94%)};
  --highlight-background-color: #{hsl(198, 60%, 86%)};
  --highlight-color: #{hsl(198, 75%, 50%)};
  --dark-highlight-color: #{hsl(205, 75%, 50%)};
  background-color: var(--background-color);
  overflow: hidden;
  position: relative;
  &[data-state] {
    --background-color: #{hsl(35, 60%, 94%)};
    --highlight-background-color: #{hsl(35, 60%, 86%)};
    --highlight-color: #{hsl(35, 75%, 50%)};
    --dark-highlight-color: #{hsl(28, 75%, 50%)};
    }
}

.player-item-top {
  height: $player-item-top-height;
  display: flex;
  align-items: center; 
  cursor: pointer;
}

.player-number {
  width: 80rpx;
  height: 100%;
  margin-inline-start: tan(abs($skew-angle)) * $player-item-top-height * -0.5;
  padding-inline-start: tan(abs($skew-angle)) * $player-item-top-height * 0.3;
  font-size: 250%;
  font-family: $special-font-family;
  font-weight: 300;
  color: var(--highlight-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  z-index: 0;
  &::before {
    inset-block-end: -0.1em;
    content: attr(data-number);
    position: relative;
    z-index: 2;
  }
  &::after {
    inset: 0rpx;
    background-color: var(--highlight-background-color);
    transform: skew($skew-angle, 0deg); 
    position: absolute;
    z-index: 1;
    content: "";
  }
  @include smartphone {
    display: none;
  }
}

.player-information {
  margin-inline: 20rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  @include smartphone {
    margin-inline-start: 20rpx;
  }
}

.player-title {
  row-gap: 6rpx;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.player-title-shaleian {
  font-size: 180%;
  font-family: "Kaleg Round Expanded Web";
  font-weight: 600;
  letter-spacing: 0.05em;
  word-spacing: -0.2rem;
  transform: skew(-3deg, 0deg);
  .player-title[data-none] & {
    opacity: 0.5;
    &::before {
      content: "reláf ide kofcaf";
    }
  }
}

.player-title-normal {
  font-size: 110%;
  transform: skew(-3deg, 0deg);
  .player-title[data-none] & {
    opacity: 0.5;
    &::before {
      content: "Sans titre";
    }
  }
}

.player-detail-list {
  row-gap: 5rpx;
  font-size: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0.7;
}

.player-detail-item {
  &::after {
    @include icon-font;
    width: 1.2em;
    margin-inline-start: fix-em($blank-margin, 90%);
    font-size: 90%;
    color: var(--highlight-color);
    display: inline-block;
    text-align: center;
  }
  &[data-type="date"]::after {
    content: "\F073";
  }
  &[data-type="length"]::after {
    content: "\E4BA";
  }
}

.player-description {
  margin-block-start: 6rpx;
  font-size: 80%;
  opacity: 0.7;
  white-space: nowrap;
  overflow: hidden;
  &::before {
    @include icon-font;
    margin-inline-end: fix-em($blank-margin, 90%);
    font-size: 90%;
    color: var(--highlight-color);
    content: "\F05A";
  }
}

.player-item-bottom {
  height: $player-item-bottom-height;
  padding-inline: 20rpx;
  background-color: var(--highlight-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}

.player-progress-container {
  inset-block: 0rpx;
  inset-inline: tan(abs($skew-angle)) * $player-item-bottom-height * -0.5;
  position: absolute;
  z-index: 1;
}

.player-progress {
  width: 0%;
  height: 100%;
  background-color: var(--dark-highlight-color);
  transform: skew($skew-angle, 0deg); 
}

.player-item-bottom-left {
  column-gap: 15rpx;
  display: flex;
  z-index: 2;
}

.player-button {
  width: 1.1em;
  color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: var(--highlight-background-color);
  }
  &::before {
    @include icon-font;
  }
  &[data-type="play"]::before {
    font-size: 150%;
    content: "\F04B";
  }
  .player-item[data-state="playing"] &[data-type="play"]::before {
    content: "\F04C";
  }
  &[data-type="stop"]::before {
    content: "\F04D";
  }
  &[data-type="download"]::before {
    content: "\F019";
  }
  &[data-type="external"]::before {
    content: "\F08E";
  }
}

.player-separator {
  width: 1rpx;
  border-inline-start: var(--background-color) 1px solid;
  opacity: 0.3;
}

.player-item-bottom-right {
  color: var(--background-color);
  opacity: 0.7;
  z-index: 2;
}