@charset "utf-8";

@use "sass:math" as *;
@import "util/reset.scss";
@import "util/common.scss";
@import "util/font.scss";
@import "main-module/variable.scss";
@import "main-module/color.scss";
@import "main-module/inline/common.scss";


html {
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  @include scrollbar(5rpx, 0rpx, transparent, var(--orange-color));
  @include text-size-adjust;
  @include fennese-scheme;
  margin: 0rpx;
  padding-block: 40rpx;
  color: var(--text-color);
  font-family: $serif-font-family;
  font-weight: normal;
  font-feature-settings: "lnum" 1, "palt" 1, "pkna" 1;
  line-height: 1;
  text-decoration-skip-ink: none;
  background-color: var(--page-background-color);
  overflow: auto;
}

.navigation {
  min-width: 1000rpx;
  padding-inline: $main-horizontal-padding;
  margin-block-end: 40rpx;
  row-gap: 10rpx;
  column-gap: 10rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mobile {
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.navigation-group {
  column-gap: 10rpx;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation-link {
  width: 1.5em;
  height: 1.5em;
  font-size: 150%;
  color: var(--main-background-color);
  background-color: var(--orange-color);
  box-shadow: 2rpx 2rpx 0rpx 0rpx var(--shadow-color);
  background-position: 0% 0%;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, var(--orange-color) 50%, var(--dark-orange-color) 50%);
  transition: background-position 0.2s;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  &:hover {
    background-position: 0% 100%;
  }
}

.word-table {
  min-width: 1000rpx;
  padding-inline: $main-horizontal-padding;
  row-gap: 5rpx;
  display: grid;
  grid-template-columns: max-content max-content repeat(8, 1fr);
  @include mobile {
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.word-row {
  min-height: 33rpx;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.word-row-main {
  padding-block: 5rpx;
  background-color: var(--main-background-color);
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2 / -1;
}

.word-initial-radical {
  padding-inline-end: 10rpx;
  padding-block-start: 3rpx;
  font-size: 150%;
  color: var(--blue-color);
  text-align: center;
  text-transform: uppercase;
  &[data-first] {
    border-block-start: solid 1rpx var(--blue-color);
  }
}

.word-root {
  margin-block: -5rpx;
  padding-block: 5rpx;
  padding-inline: 10rpx;
  color: var(--main-background-color);
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-root-radical {
  width: 0.8em;
  font-size: 120%;
  text-align: center;
  display: inline-block;
}

.word-cell {
  min-width: 0rpx;
  padding-inline: 10rpx;
  row-gap: 3rpx;
  display: flex;
  flex-direction: column;
  &:not(:nth-child(2)) {
    border-inline-start: double 3rpx var(--block-background-color);
  }
}

.word-view {
  column-gap: 8rpx;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.word-view-name {
  flex: 0 0 auto;
  .word-view[data-basic] & {
    text-decoration-line: underline;
    text-decoration-color: var(--orange-color);
  }
}

.word-view-equivalent {
  font-size: 80%;
  color: var(--gray-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

.word-header-row {
  margin-block-end: 5rpx;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.word-header-cell {
  color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.word-footer-row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

.root-count {
  padding-inline-end: 3rpx;
  color: var(--blue-color);
  text-align: end;
  grid-column: 2;
}

.word-count {
  padding-inline-end: 3rpx;
  color: var(--blue-color);
  text-align: end;
  grid-column: 10;
}