@charset "utf-8";

@use "sass:math" as *;
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:wght@400;700&family=Josefin+Sans:wght@100..700&family=Ysabeau:wght@1..1000&display=swap");
@import "util/reset.scss";
@import "util/common.scss";
@import "util/font.scss";
@import "main-module/variable.scss";
@import "main-module/color.scss";
@import "main-module/inline/common.scss";
@import "main-module/core/footer.scss";


$home-width: 85cqi;
$home-max-width: 1200rpx;

$skew-angle: -9deg;

@mixin nonsmall-screen {
  @media screen and (min-width: 1201px) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: 1200px) {
    @content;
  }
}


html {
  font-size: 16px;
}

body {
  @include text-size-adjust;
  @include fennese-scheme;
  color: var(--text-color);
  font-family: $serif-font-family;
  font-weight: normal;
  font-feature-settings: "lnum" 1, "palt" 1, "pkna" 1;
  line-height: 1;
  text-decoration-skip-ink: none;
  background-color: var(--page-background-color);
  background-image: radial-gradient(circle at center, var(--page-background-color) 20%, var(--page-dark-background-color));
  background-attachment: fixed;
  overflow-x: auto;
  overflow-y: scroll;
}

.main {
  container-name: main;
  container-type: inline-size;
  overflow-x: hidden;
}

.top-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.top {
  padding-block-start: 64rpx;
  padding-block-end: 64rpx;
  display: flex;
  @include desktop {
    width: $home-width;
    max-width: $home-max-width;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
  @include nonsmall-screen {
    column-gap: 96rpx;
    flex-direction: row;
  }
  @include small-screen {
    row-gap: 48rpx;
    flex-direction: column;
  }
}

.top-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  @include nonsmall-screen {
    align-items: flex-start;
  }
  @include small-screen {
    align-items: center;
  }
}

.visual {
  height: 336rpx;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.visual-background {
  inset: 0rpx;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.visual-logo {
  height: 100%;
  opacity: 0.25;
}

.visual-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visual-title {
  font-size: 80rpx;
  font-family: var(--special-font-family);
  font-weight: 400;
  color: var(--logo-color);
  -webkit-text-stroke: 4rpx alpha(black, 0.5);
  filter: drop-shadow(0rpx 2rpx 10rpx alpha(white, 0.25)) drop-shadow(0rpx 2rpx 5rpx alpha(black, 0.25));
  paint-order: stroke;
  text-transform: uppercase;
  @include desktop {
    margin-inline: -0.15em;
    letter-spacing: 0.15em;
    text-indent: 0.15em;  
  }
  @include mobile {
    letter-spacing: 0em;
    text-indent: 0em;
  }
}

.visual-flavor {
  margin-block-start: 12rpx;
  margin-block-end: -12rpx;
  font-size: 24rpx;
  font-family: var(--special-font-family);
  font-weight: 500;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  color: var(--logo-color);
  -webkit-text-stroke: 3rpx alpha(black, 0.5);
  filter: drop-shadow(0rpx 0rpx 2rpx alpha(black, 0.25));
  line-height: $small-line-height;
  text-align: center;
  white-space: nowrap;
  paint-order: stroke;
  text-transform: uppercase;
}

.catch {
  margin-block-end: -6rpx;
  row-gap: 12rpx;
  font-size: 32rpx;
  font-family: var(--special-font-family);
  font-weight: 400;
  color: var(--page-dark-background-color);
  -webkit-text-stroke: 1rpx alpha(black, 0.5);
  text-shadow: 0rpx 1rpx 3rpx alpha(white, 0.1);
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  paint-order: stroke;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include small-screen {
    display: none;
  }
}

.catch-paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catch-line {
}

$card-item-height: 136rpx;
$card-item-title-height: 44rpx;
$card-item-gap: 24rpx;

.card-table {
  row-gap: $card-item-gap;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  position: relative;
  flex: 1 1 auto;
  z-index: 0;
  @include nonsmall-screen {
    margin-inline-end: -64rpx;
    &::before {
      inset-inline-start: 64rpx;
      inset-inline-end: -100vi;
      inset-block-start: -64rpx;
      inset-block-end: -64rpx;
      background-color: var(--primary-color);
      transform: skew($skew-angle);
      opacity: 0.25;
      z-index: -1;
      position: absolute;
      content: ""
    }
  }
}

.card-table-background {
  inset-inline-start: 0rpx;
  inset-block-end: 0rpx;
  position: absolute;
  z-index: -1;
}

.card-item {
  height: $card-item-height;
  transition: translate 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  @include nonsmall-screen {
    @for $index from 1 through 8 {
      &:nth-child(#{$index}) {
        --base-offset: #{(($card-item-height + $card-item-gap) * ($index - 1)) * tan($skew-angle)};
      };
    }
  }
  &:not(:hover) {
    translate: var(--base-offset) 0rpx;
    --background-position: 0%;
  }
  &:hover {
    translate: calc(var(--base-offset) - 32rpx) 0rpx;
    --background-position: 100%;
  }
}

.card-background {
  inset: 0rpx;
  border: solid 1rpx alpha(var(--primary-color), 0.75);
  background-color: var(--main-background-color);
  background-image: linear-gradient(to right, transparent 50%, alpha(var(--secondary-color), 0.05) 50%);
  background-position: var(--background-position) 0%;
  background-size: 200% 100%;
  background-repeat: no-repeat;
  transform: skew($skew-angle);
  filter: drop-shadow(0rpx 2rpx 4rpx alpha(black, 0.25));
  backdrop-filter: blur(4rpx);
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: background-position 0.2s;
  z-index: -1;
  &::before {
    margin-block-start: -1rpx;
    margin-inline: -1rpx;
    height: $card-item-title-height;
    background-color: var(--primary-color);
    content: "";
  }
}

.card-title {
  margin-inline-start: 24rpx;
  height: $card-item-title-height;
  color: var(--main-background-color);
  font-size: 22rpx;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.card-explanation {
  margin-inline-start: 18rpx;
  margin-inline-end: 24rpx;
  line-height: $line-height;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.introduction-block {
  margin-inline: -128rpx;
  padding-inline: 128rpx;
  padding-block: 64rpx;
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  @include desktop {
    width: $home-width;
    max-width: $home-max-width;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.introduction-header {
  margin-block-end: 32rpx;
  font-size: 32rpx;
  color: var(--primary-color);
  letter-spacing: 0.1em;
  &:not(:first-child) {
    margin-block-start: 48rpx;
  }
}

.introduction-content {
  display: grid;
  @include desktop {
    column-gap: 48rpx;
    grid-template-columns: 4fr 3fr;
  }
  @include mobile {
    row-gap: 24rpx;
    grid-template-columns: 1fr;
  }
}

.introduction-explanation {
  &:not([data-language="fennese"]) {
    line-height: $line-height;
  }
  &[data-language="fennese"] {
    font-size: 14rpx;
    font-family: var(--special-font-family);
    color: alpha(var(--primary-color), 0.5);
    line-height: 1.5;
    letter-spacing: -0.05em;
    font-variant-caps: small-caps;
    text-transform: capitalize;
  }
}

.introduction-paragraph {
  text-align: justify;
  & +& {
    margin-block-start: 12rpx;
  }
}

$contact-item-height: 104rpx;
$contact-item-gap: 16rpx;
$contact-item-count: 3;

$history-item-gap: 12rpx;
$history-item-count: 4;
$history-item-height: div($contact-item-height * $contact-item-count + $contact-item-gap * ($contact-item-count - 1) - $history-item-gap * ($history-item-count - 1), $history-item-count);

.other-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.other {
  padding-block-start: 64rpx;
  padding-block-end: 96rpx;
  display: grid;
  @include desktop {
    width: $home-width;
    max-width: $home-max-width;
    column-gap: 32rpx;
    grid-template-columns: 4fr 3fr;
  }
  @include mobile {
    width: 100%;
    row-gap: 48rpx;
    padding-inline: $main-smartphone-horizontal-padding;
    grid-template-columns: 1fr;
    box-sizing: border-box;
  }
}

.other-column {
  container-name: other-column;
  container-type: inline-size;
  position: relative;
  @include desktop {
    --additional-gap: calc(#{($contact-item-height * ($contact-item-count - 0.5) + $contact-item-gap * ($contact-item-count - 1) - $history-item-height * 0.5) * tan($skew-angle)} + 16rpx);
    &:nth-child(2)::before {
      inset-inline-start: calc(100cqi - 120rpx);
      inset-inline-end: -100vi;
      inset-block-start: -64rpx;
      inset-block-end: -96rpx;
      background-color: var(--primary-color);
      transform: skew($skew-angle);
      opacity: 0.25;
      z-index: -1;
      position: absolute;
      content: ""
    }
    &:nth-child(1) {
      margin-inline-end: calc(var(--additional-gap) / 2);
    }
    &:nth-child(2) {
      margin-inline-start: calc(var(--additional-gap) / 2);
    }
  }
}

.other-header {
  margin-block-end: 32rpx;
  font-size: 24rpx;
  color: var(--primary-color);
  letter-spacing: 0.1em;
  @include desktop {
    .other-column:nth-child(2) & {
      margin-inline-start: calc(#{($contact-item-height * ($contact-item-count - 0.5) + $contact-item-gap * ($contact-item-count - 1)) * tan(-$skew-angle)});
    }
  }
}

.contact-table {
  row-gap: $contact-item-gap;
  display: flex;
  flex-direction: column;
}

.contact-item {
  height: $contact-item-height;
  padding-inline: 24rpx;
  column-gap: 24rpx;
  transition: translate 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
  @include desktop {
    margin-inline-start: (($contact-item-height + $contact-item-gap) * ($contact-item-count - 1)) * tan(-$skew-angle);
    @for $index from 1 through 8 {
      &:nth-child(#{$index}) {
        --base-offset: #{(($contact-item-height + $contact-item-gap) * ($index - 1)) * tan($skew-angle)};
      };
    }
  }
  &::before {
    inset-block: 0rpx;
    inset-inline-start: 0rpx;
    inset-inline-end: 0rpx;
    border: solid 1rpx alpha(var(--primary-color), 0.75);
    background-color: var(--main-background-color);
    background-image: linear-gradient(to right, transparent 50%, alpha(var(--secondary-color), 0.05) 50%);
    background-position: var(--background-position) 0%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    transform: skew($skew-angle);
    filter: drop-shadow(0rpx 2rpx 4rpx alpha(black, 0.25));
    backdrop-filter: blur(4rpx);  
    transition: background-position 0.2s;
    content: "";
    position: absolute;
    z-index: -1;
  }
  &:not(:hover) {
    translate: var(--base-offset, 0rpx) 0rpx;
    --background-position: 0%;
  }
  &:hover {
    translate: calc(var(--base-offset) - 16rpx) 0rpx;
    --background-position: 100%;
  }
}

.contact-icon {
  width: 72rpx;
  font-size: 64rpx;
  font-weight: normal;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  order: 2;
  &[data-brand="twitter"]::before {
    @include icon("brand", "\E61B");
  }
  &[data-brand="youtube"]::before {
    @include icon("brand", "\F167");
  }
  &[data-brand="discord"]::before {
    @include icon("brand", "\F392");
  }
  &[data-brand="github"]::before {
    @include icon("brand", "\F09B");
  }
}

.contact-explanation {
  line-height: $line-height;
  text-align: justify;
  flex: 1 1 auto;
  order: 1;
}

.history-list {
  row-gap: $history-item-gap;
  display: flex;
  flex-direction: column;
}

.history-item {
  height: $history-item-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  @include desktop {
    @for $index from 1 through 8 {
      &:nth-child(#{$index}) {
        --base-offset: #{(($history-item-height + $history-item-gap) * ($index - 1)) * tan(-$skew-angle)};
      };
    }
  }
  &::before {
    inset-block: 0rpx;
    inset-inline-start: -100vi;
    inset-inline-end: var(--base-offset, 0rpx);
    background-color: alpha(var(--main-background-color), 0.25);
    transform: skew($skew-angle);
    content: "";
    position: absolute;
    z-index: -1;
  }
}

.history-date {
  margin-block-end: 4rpx;
  font-size: 12rpx;
  letter-spacing: 0.05em;
  opacity: 0.75;
  display: block;
}

.navigation-list {
  line-height: $line-height;
  list-style: none;
  display: inline;
}

.navigation-item {
  display: inline;
  &:nth-child(1) {
    display: none;
  }
  &:not(:nth-child(2))::before {
    @include icon("regular", "\F101");
    margin-inline: $blank-margin;
    color: var(--primary-color);
    opacity: 0.5;
    line-height: 0;
  }
}

.link,
.navigation-link {
  text-decoration: none;
  background-size: 100% 1rpx;
  background-position: left bottom;
  background-repeat: no-repeat;
  cursor: pointer;
  &:not(:hover) {
    color: var(--secondary-color);
    background-image: single-color(var(--secondary-color));
  }
  &:hover {
    color: var(--secondary-active-color);
    background-image: single-color(var(--secondary-active-color));
  }
  &:focus-visible {
    outline: solid 2rpx alpha(var(--secondary-color), 0.5);
    outline-offset: 1rpx;
  }
}

.footer {
  margin-block-start: 0rpx;
}