@charset "utf-8";

@import "util/reset.scss";
@import "util/common.scss";
@import "util/font.scss";
@import "application-module/common.scss";


body {
  @include body;
  @include text-size-adjust;
}

div.content {
  margin: 40px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.content div.problem {
  margin: 0px 30px 40px 30px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

div.content div.problem div.left,
div.content div.problem div.right,
div.content div.problem div.answer,
div.content div.problem div.operator,
div.content div.problem div.equal {
  margin: 0px 10px;
  padding: 0px;
  text-align: center;
}

div.content div.problem div.left input[type="text"],
div.content div.problem div.right input[type="text"],
div.content div.problem div.answer div {
  @include box(30px);
  @include lnum-variant;
  width: 240px;
  height: 150px;
  margin: 0px 0px 25px 0px;
  padding: 0px 0px;
  font: 700 100px "Alegreya";
  color: hsl(240, 60%, 60%);
  line-height: 150px;
  text-align: center;
  border: none;
  outline: none;
}

div.content div.problem div.left div.radio input[type="radio"],
div.content div.problem div.right div.radio input[type="radio"] {
  @include radio;
}

div.content div.problem div.operator input[type="button"],
div.content div.problem div.equal input[type="button"] {
  @include button;
  width: 100px;
  height: 100px;
  margin: 25px 0px 0px 0px;
  padding: 0px;
  font: 400 64px "Alegreya";
  line-height: 100px;
  border-radius: 30px;
}

div.content div.show {
  margin: 0px auto 5px auto;
  padding: 0px;
  text-align: center;
}

div.content div.show button {
  margin: 0px;
  padding: 0px;
  font: italic 400 18px "Alegreya";
  color: hsl(240, 60%, 60%);
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

div.content div.table-container {
  @include box;
  margin: 0px auto;
  padding: 20px 50px;
  text-align: center;
  display: none;
}

div.content div.table-container table {
  margin: 0px auto;
  padding: 0px;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0px;
}

div.content div.table-container table tr th,
div.content div.table-container table tr td {
  @include lnum-variant;
  width: 45px;
  font: 400 24px "Alegreya";
  color: hsl(0, 0%, 40%);
  line-height: 32px;
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  border-right: 1px hsl(0, 0%, 90%) solid;
}

div.content div.table-container table tr th {
  font-weight: normal;
  background-color: hsl(0, 0%, 90%);
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  border-right: 1px hsl(0, 0%, 90%) solid;
}

div.content div.table-container table tr:first-child th:first-child {
  border-radius: 10px 0px 0px 0px;
}

div.content div.table-container table tr:first-child th:last-child {
  border-radius: 0px 10px 0px 0px;
}

div.content div.table-container table tr:last-child th:first-child {
  border-radius: 0px 0px 0px 10px;
}

div.content div.table-container table tr:last-child td:last-child {
  border-radius: 0px 0px 10px 0px;
}