@charset "utf-8";

@use "sass:math" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
@import "util/reset.scss";
@import "util/common.scss";
@import "util/font.scss";
@import "main-module/variable.scss";
@import "main-module/color.scss";
@import "main-module/inline/common.scss";


$home-width: 85cqi;
$home-max-width: 1200rpx;


@mixin large-screen {
  @media screen and (min-width: 1151px) {
    @content;
  }
}

@mixin medium-screen {
  @media screen and (max-width: 1150px) and (min-width: 801px) {
    @content;
  }
}

@mixin nonsmall-screen {
  @media screen and (min-width: 801px) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: 800px) {
    @content;
  }
}


html {
  font-size: 16px;
}

body {
  @include scrollbar(5rpx, 0rpx, transparent, var(--orange-color));
  @include text-size-adjust;
  @include shaleian-scheme;
  padding-block: 50rpx;
  color: var(--text-color);
  font-family: $serif-font-family;
  font-weight: normal;
  font-feature-settings: "lnum" 1, "palt" 1, "pkna" 1;
  line-height: 1;
  text-decoration-skip-ink: none;
  background-color: var(--page-background-color);
  overflow-x: auto;
  overflow-y: scroll;
}

.main {
  container-name: main;
  container-type: inline-size;
}

.centralize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 250rpx;
  position: relative;
  z-index: 0;
  @include small-screen {
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.header-background {
  inset: 0rpx;
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: -1;
}

.header-logo {
  height: 100%;
  opacity: 0.3;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  margin-block-start: 95rpx;
  font-size: 84rpx;
  font-family: var(--special-font-family);
  font-weight: 600;
  color: var(--blue-color);
  letter-spacing: 0.15em;
  text-indent: 0.15em;
  -webkit-text-stroke: 6rpx var(--page-background-color);
  paint-order: stroke;
}

.header-flavor {
  margin-block-start: 5rpx;
  font-size: 24rpx;
  font-family: var(--special-font-family);
  font-weight: 600;
  color: var(--blue-color);
  line-height: $small-line-height;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-text-stroke: 4rpx var(--page-background-color);
  paint-order: stroke;
}

$card-item-height: 150rpx;
$card-item-title-height: 42rpx;
$link-height: 60rpx;

.card-table-block {
  width: 100cqi;
  margin-block-start: 50rpx;
  display: flex;
  flex-direction: column;
  @include large-screen {
    --card-width: calc((100cqi - 80rpx) / 3);
  }
  @include medium-screen {
    --card-width: calc((100cqi - 40rpx) / 2);
  }
  @include small-screen {
    --card-width: 100%;
  }
}

.link-table {
  margin-block-start: 50rpx;
  column-gap: 40rpx;
  row-gap: 30rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  container-name: table;
  container-type: inline-size;
  @include nonsmall-screen {
    width: $home-width;
    max-width: $home-max-width;
  }
  @include small-screen {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.link-item {
  width: var(--card-width);
  height: $link-height;
  color: color-mix(in oklch, var(--blue-color) 50%, var(--text-color));
  background-color: white;
  box-shadow: 3rpx 3rpx 0rpx 0rpx var(--shadow-color);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.2s;
  flex: 0 0 auto;
  z-index: 0;
  &:hover {
    color: white;
  }
  &::before {
    width: 100%;
    inset-block: 0rpx;
    inset-inline-start: calc(0% - #{div($link-height, 2) * $skew-tan} - 6rpx);
    background-position: 0% $link-height;
    background-size: 100% $link-height;
    background-image: single-color(var(--blue-color));
    background-repeat: no-repeat;
    position: absolute;
    transform: skew($skew-angle);
    transition: background-position 0.2s;
    z-index: -1;
    content: "";
  }
  &:hover::before {
    background-position: 0% 0rpx;
  }
  &::after {
    width: 100%;
    inset-block: 0rpx;
    inset-inline-end: calc(-100% + #{div($link-height * $skew-tan, 2)});
    background-color: var(--orange-color);
    position: absolute;
    transform: skew($skew-angle);
    z-index: -2;
    content: "";
  }
}

.link-title {
  padding-inline-start: 20rpx;
  height: $link-height;
  line-height: $link-height;
  font-size: 130%;
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  order: 2;
}

.card-table {
  column-gap: 40rpx;
  row-gap: 30rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  container-name: table;
  container-type: inline-size;
  @include nonsmall-screen {
    width: $home-width;
    max-width: $home-max-width;
  }
  @include small-screen {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.card-item {
  width: var(--card-width);
  height: $card-item-height;
  background-color: white;
  box-shadow: 3rpx 3rpx 0rpx 0rpx var(--shadow-color);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 0.2s;
  flex: 0 0 auto;
  z-index: 0;
  &:hover {
    color: white;
  }
  &::before {
    width: 100%;
    inset-block: 0rpx;
    inset-inline-start: calc(0% - #{div($card-item-height, 2) * $skew-tan} - 6rpx);
    background-position: 0% ($card-item-height - $card-item-title-height);
    background-size: 100% $card-item-height;
    background-image: single-color(var(--blue-color));
    background-repeat: no-repeat;
    position: absolute;
    transform: skew($skew-angle);
    transition: background-position 0.2s;
    z-index: -1;
    content: "";
  }
  &:hover::before {
    background-position: 0% 0rpx;
  }
  &::after {
    width: 100%;
    inset-block: 0rpx;
    inset-inline-end: calc(-100% + #{div($card-item-height * $skew-tan, 2)});
    background-color: var(--orange-color);
    position: absolute;
    transform: skew($skew-angle);
    z-index: -2;
    content: "";
  }
}

.card-title {
  padding-inline-start: 20rpx;
  height: $card-item-title-height;
  line-height: $card-item-title-height;
  font-size: 130%;
  color: white;
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  order: 2;
}

.card-explanation {
  padding-inline-start: 20rpx;
  padding-inline-end: 40rpx;
  display: flex;
  align-items: center;
  flex-grow: 1;
  order: 1;
  position: relative;
  &::before {
    height: 1rpx;
    inset-block-end: 0rpx;
    inset-inline-start: 0rpx;
    inset-inline-end: 43rpx;
    transition: border-block-end 0.2s;
    position: absolute;
    content: "";
    .card-item:not(:hover) & {
      border-block-end: 1px transparent solid;
    }
    .card-item:hover & {
      border-block-end: 1px rgba(white, 0.3) solid;
    }
  }
}

.card-explanation-text {
  line-height: $line-height;
  text-align: justify;
}

.ad-block {
  margin-block-start: 50rpx;
}

.ad {
  width: $home-width;
  max-width: $home-max-width;
}

.ad-inner {
  width: 100%;
}

.introduction-block {
  margin-block-start: 50rpx;
  padding-block: 50rpx;
  background-color: white;
}

.introduction {
  margin-inline: auto;
  @include nonsmall-screen {
    width: $home-width;
    max-width: $home-max-width;
  }
  @include small-screen {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.introduction-header {
  margin-block-end: 30rpx;
  font-size: 200%;
  color: var(--blue-color);
  letter-spacing: 0.1em;
}

.introduction-content {
  display: flex;
  align-items: center;
  @include nonsmall-screen {
    flex-direction: row;
    column-gap: 60rpx;
  }
  @include small-screen {
    flex-direction: column;
    row-gap: 30rpx;
    column-gap: 0rpx;
  }
}

.introduction-explanation {
  flex: 1 1 0rpx;
}

.introduction-sample-container {
  flex: 1 1 0rpx;
}

.introduction-youtube {
  width: 100%;
  flex: 1 1 0rpx;
}

.introduction-sample {
  height: 100%;
  font-family: "Vekos Web";
  font-size: 110%;
  color: color-mix(in oklch, var(--blue-color) 50%, var(--text-color));
  background-color: var(--block-background-color);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  @include nonsmall-screen {
    padding-block: 30rpx;
    padding-inline: 30rpx;
  }
  @include small-screen {
    padding-block: 20rpx;
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.introduction-paragraph {
  line-height: $line-height;
  text-align: justify;
  & +& {
    margin-block-start: 10rpx;
  }
}

.introduction-table {
  margin-block-start: 20px;
  display: flex;
}

.introduction-item {
  flex: 1 1 0rpx;
}

.introduction-item-heading {
  opacity: 0.7;
}

.introduction-item-content {
  font-size: 150%;
  line-height: $line-height;
}

.introduction-youtube-iframe {
  width: 100%;
  border: none;
  aspect-ratio: 16 / 9;
}

.introduction-separator {
  margin-block: 50rpx;
}

.count-table-block {
  margin-block-start: 50rpx;
}

.count-table-container {
  row-gap: 5rpx;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.count-table {
  row-gap: 5rpx;
  column-gap: 40rpx;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: baseline;
  &:not([data-size="small"]) {
    font-size: 28rpx;
  }
  &[data-size="small"] {
    font-size: 20px;
  }
}

.count-text {
  inset-block-end: 0.05em;
  color: color-mix(in oklch, var(--blue-color) 50%, var(--text-color));
  text-align: right;
  position: relative;
}

.count-table[data-size="large"] .count-text {
  letter-spacing: 0.1em;
}

.count-number {
  font-family: var(--special-font-family);
  font-size: 250%;
  font-weight: 600;
  color: var(--blue-color);
  text-align: right;
}

.count-plus {
  margin-inline-end: 0.1em;
}

.separator-block {
  margin-block-start: 50rpx;
  @include small-screen {
    padding-inline: $main-smartphone-horizontal-padding;
  }
}

.separator {
  display: flex;
  align-items: center;
  opacity: 0.3;
  &::before,
  &::after {
    border-block-end: 1rpx var(--blue-color) solid;
    flex-grow: 1;
    content: "";
  }
  @include nonsmall-screen {
    width: $home-width;
    max-width: $home-max-width;
  }
  @include small-screen {
    width: 100%;
    box-sizing: border-box;
  }
}

.separator-mark {
  width: 6rpx;
  height: 6rpx;
  margin-inline: 27rpx;
  background-color: var(--blue-color);
  flex-grow: 0;
  transform: rotate(45deg);
}

.other-block {
  margin-block-start: 50rpx;
}

.other {
  display: flex;
  @include nonsmall-screen {
    width: $home-width;
    max-width: $home-max-width;
    column-gap: 60rpx;
    flex-direction: row;
  }
  @include small-screen {
    width: 100%;
    row-gap: 50rpx;
    column-gap: 0rpx;
    padding-inline: $main-smartphone-horizontal-padding;
    flex-direction: column;
    box-sizing: border-box;
  }
}

.other-column {
  flex: 1 1 0rpx;
}

.other-header {
  margin-block-end: 30rpx;
  font-size: 150%;
  color: var(--blue-color);
  letter-spacing: 0.1em;
}

.contact-table {
  row-gap: 15rpx;
  column-gap: 20rpx;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.contact-icon {
  @include icon-font;
  font-size: 400%;
  font-weight: normal;
  text-align: center;
  justify-self: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
  &::before {
    background-position: 0% 0%;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--orange-color) 50%, var(--dark-orange-color) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.2s;
    z-index: -1;
  }
  &:hover::before {
    background-position: 0% 100%;
  }
  &:after {
    inset-block-start: 3rpx;
    inset-inline-start: 3rpx;
    color: var(--shadow-color);
    position: absolute;
    z-index: -2;
  }
  &[data-brand="twitter"]::before,
  &[data-brand="twitter"]::after {
    content: "\F099";
  }
  &[data-brand="youtube"]::before,
  &[data-brand="youtube"]::after {
    content: "\F167";
  }
  &[data-brand="discord"]::before,
  &[data-brand="discord"]::after {
    content: "\F392";
  }
  &[data-brand="github"]::before,
  &[data-brand="github"]::after {
    content: "\F09B";
  }
}

.contact-explanation {
  line-height: $line-height;
  text-align: justify;
}

.history-list {
  row-gap: 15rpx;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.history-date {
  margin-block-end: 5rpx;
  font-size: 80%;
  opacity: 0.7;
  display: block;
}

.navigation-list {
  line-height: $line-height;
  list-style: none;
  display: inline;
}

.navigation-item {
  display: inline;
  &:nth-child(1) {
    display: none;
  }
  &:not(:nth-child(2))::before {
    @include icon-font;
    margin-inline: fix-em($blank-margin, 90%);
    color: var(--blue-color);
    font-size: 90%;
    opacity: 0.5;
    line-height: 0;
    content: "\F101";
  }
}

.announcement-block {
  margin-block-start: 50rpx;
}

.announcement {
  display: flex;
  align-items: center;
  container-name: announcement;
  container-type: inline-size;
  @include nonsmall-screen {
    width: $home-width;
    max-width: $home-max-width * 0.5;
    column-gap: 40rpx;
    flex-direction: row;
  }
  @include small-screen {
    width: 100%;
    max-width: none;
    padding-inline: $main-smartphone-horizontal-padding;
    row-gap: 30rpx;
    flex-direction: column;
    box-sizing: border-box;
  }
}

.announcement-left {
  flex: 0 0 auto;
}

.announcement-right {
  flex: 1 1 auto;
}

.announcement-image {
  @include nonsmall-screen {
    width: 25cqi;
  }
  @include small-screen {
    width: 40cqi;
  }
}

.announcement-header {
  margin-block-end: 15rpx;
  font-size: 150%;
  color: var(--blue-color);
  letter-spacing: 0.1em;
}

.announcement-message {
  margin-block-end: 15rpx;
  line-height: $line-height;
  text-align: justify;
}

.announcement-button-list {
  column-gap: 20rpx;
  display: flex;
  align-items: center;
}

.button {
  padding-inline: 10rpx;
  padding-block: 1rpx;
  color: white;
  line-height: $line-height;
  text-align: center;
  box-shadow: 2rpx 2rpx 0rpx 0rpx var(--shadow-color);
  background-position: 0% 0%;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, var(--orange-color) 50%, var(--dark-orange-color) 50%);
  transition: background-position 0.2s;
  display: inline-block;
  &:hover {
    background-position: 0% 100%;
  }
}

.link,
.navigation-link {
  text-decoration: none;
  background-size: 100% 1rpx;
  background-position: left bottom;
  background-repeat: no-repeat;
  cursor: pointer;
  &:not(:hover) {
    color: var(--orange-color);
    background-image: single-color(var(--orange-color));
  }
  &:hover {
    color: var(--dark-orange-color);
    background-image: single-color(var(--dark-orange-color));
  }
}

.large-screen {
  @include nonsmall-screen {
    display: inline;
  }
  @include small-screen {
    display: none;
  }
}

.small-screen {
  @include nonsmall-screen {
    display: none;
  }
  @include small-screen {
    display: inline;
  } 
}