@charset "utf-8";

@use "sass:math" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");
@import url("https://jpafonts.osdn.jp/webfonts/jpafonts.css");
@import "util/reset.scss";
@import "util/common.scss";
@import "util/font.scss";
@import "main-module/variable.scss";
@import "main-module/inline/common.scss";


@mixin gradient-background($colors...) {
  background-image: linear-gradient(to top, $colors);
  background-repeat: no-repeat;
  background-position: left 0vw bottom 0vw;
  background-attachment: fixed;
}

@mixin medium-screen {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: 700px) {
    @content;
  }
}


$highlights-colors: hsl(35, 70%, 45%) 10%, hsl(307, 40%, 45%) 50%, hsl(198, 70%, 45%) 90%;
$background-colors: hsl(35, 30%, 92%) 10%, hsl(307, 13%, 92%) 50%, hsl(198, 30%, 92%) 90%;
$light-background-colors: hsl(35, 30%, 96%) 10%, hsl(307, 13%, 96%) 50%, hsl(198, 30%, 96%) 90%;

html {
  height: 100%;
  font-size: 16px;
  @include small-screen {
    font-size: div(16px, 1.1);
  }
}

body {
  @include no-scrollbar;
  @include text-size-adjust;
  height: 100%;
  margin: 0rpx;
  padding: 0rpx;
  color: $text-color;
  font-family: $serif-font-family;
  font-weight: normal;
  font-feature-settings: "palt" 1, "pkna" 1;
  line-height: 1;
  text-decoration-skip-ink: none;
  background-image: url("/material/anniversary/1.jpg");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: left 0vw bottom max(0vw, 100%);
  background-attachment: fixed;
  overflow-x: auto;
  overflow-y: scroll;
}

$max-logo-size: 220rpx;

.logo-container {
  width: min(15vw, #{$max-logo-size});
  top: 3vw;
  left: 3vw;
  position: fixed;
  @include medium-screen {
    position: absolute;
  }
}

.logo {
  width: 100%;
  line-height: 0;
}

.section-block {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}

.section-left {
  flex: 0 0 min(15vw + 6vw, #{$max-logo-size} + 6vw);
  @include medium-screen {
    flex: 0 0 0rpx;
  }
}

.section {
  padding: 3vw 4vw 3vw 4vw;
  flex: 1 1 0rpx;
  box-sizing: border-box;
}

.header-block {
  height: 50vw;
  max-height: 100vh;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-paragraph {
  font-family: "Vekos Web";
  font-size: max(2vw, 120%);
  line-height: 1.4;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  color: white;
  text-align: right;
  text-shadow: 0.3vw 0.3vw 1vw black;
  & +& {
    margin-top: 0.8em;
  }
}

.header-line {
  transform: skew(-5deg, 0deg);
}

.timeline-left {
  @include gradient-background($light-background-colors);
}

.timeline {
  padding-top: 50rpx;
  padding-bottom: 50rpx;
  @include gradient-background($background-colors);
}

.timeline-title {
  @include gradient-background($highlights-colors);
  @include background-clip-text;
  margin-bottom: 30rpx;
  padding-bottom: 10rpx;
  font-size: 200%;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  position: relative;
  &::before,
  &::after {
    @include gradient-background($highlights-colors);
    height: 2rpx;
    bottom: 0rpx;
    left: 0rpx;
    right: 0rpx;
    flex-grow: 1;
    opacity: 0.2;
    content: "";
    @include small-screen {
      opacity: 0;
    }
  }
  &::before {
    margin-right: 30rpx;
  }
  &::after {
    margin-left: 30rpx;
  }
}

.timeline-item {
  --timeline-color: #{$blue-color};
  &:nth-child(2n) {
    --timeline-color: #{$orange-color};
  }
}

.timeline-head {
  display: flex;
  align-items: center;
}

$timeline-date-size: 100rpx;

.timeline-date {
  @include gradient-background($highlights-colors);
  width: $timeline-date-size;
  height: $timeline-date-size;
  border-radius: 50%;
  font-family: $special-font-family;
  color: white;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-hairia,
.timeline-gregorian {
  @include gradient-background($background-colors);
  @include background-clip-text;
}

.timeline-hairia {
  margin-top: 5rpx;
  font-size: 180%;
  &::before {
    font-size: 60%;
    vertical-align: 0.5em;
    line-height: 0;
    content: "H";
  }
}

.timeline-gregorian {
  font-size: 90%;
}

.timeline-generation {
  @include gradient-background($highlights-colors);
  @include background-clip-text;
  margin-top: 10rpx;
  margin-left: 30rpx;
  color: var(--timeline-color);
}

.timeline-number {
  margin: 0em 0.2em;
  font-family: $special-font-family;
  font-size: 280%;
  &:first-child {
    margin-left: 0em;
  }
}

.timeline-number .sub {
  font-size: 80%;
  vertical-align: -0.2em;
}

.timeline-scale {
  font-size: 180%;
}

.timeline-text {
  margin-left: div($timeline-date-size, 2) - 3rpx;
  padding: 10rpx 0rpx 10rpx min(#{div($timeline-date-size, 2) + 3rpx}, 4vw + 3rpx);
  font-size: 110%;
  line-height: 1.7;
  text-align: justify;
  position: relative;
  &::before {
    @include gradient-background($highlights-colors);
    width: 6rpx;
    top: 0rpx;
    bottom: 0rpx;
    left: 0rpx;
    position: absolute;
    content: ""
  }
}