@charset "utf-8";

@use "sass:math" as *;


$european-serif-font-family: "Noto Serif", "Noto Naskh Arabic", "Noto Serif Hebrew", "Times New Roman";
$japanese-serif-font-family: "源ノ明朝", "Yu Mincho", "YuMincho";
$european-sans-font-family: "Noto Sans Display", "Noto Sans Arabic", "Noto Sans Hebrew", "Arial";
$japanese-sans-font-family: "源ノ角ゴシック", "Yu Gothic Medium", "Yu Gothic";
$european-monospace-font-family: "Noto Sans Mono";
$japanese-monospace-font-family: "源ノ角ゴシック", "Yu Gothic Medium", "Yu Gothic";

$serif-font-family: $european-serif-font-family, $japanese-serif-font-family, serif;
$sans-font-family: $european-sans-font-family, $japanese-sans-font-family, sans-serif;
$monospace-font-family: $european-monospace-font-family, $japanese-monospace-font-family, monospace;

$serif-font-weight: 400;
$sans-font-weight: 400;
$monospace-font-weight: 400;

$monospace-font-size: 92%;

$monospace-letter-spacing: -0.08em;


@function single-color($color) {
  @return linear-gradient($color, $color);
}

@function fix-em($value, $font-percent) {
  @return div($value, div($font-percent, 100%));
}

@mixin scrollbar($size, $margin, $background-color, $thumb-background-color) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    background-color: $background-color;
  }
  &::-webkit-scrollbar-thumb {
    border: 0px transparent solid;
    background-color: $thumb-background-color;
    background-clip: content-box;
    &:horizontal {
      border-top: $margin transparent solid;
    }
    &:vertical {
      border-left: $margin transparent solid;
    }
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: $background-color;
  }
}

@mixin no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}

@mixin line-height($line-height, $directions: top bottom) {
  line-height: $line-height;
  @if index($directions, top) {
    &::before {
      width: 0em;
      height: 0em;
      margin-top: 0em - (div($line-height - 1, 2) * 1em);
      display: block;
      content: "";
    }
  }
  @if index($directions, bottom) {
    &::after {
      width: 0em;
      height: 0em;
      margin-bottom: 0em - (div($line-height - 1, 2) * 1em);
      display: block;
      content: "";
    }
  }
}

@mixin trim-leading {
  &::before {
    width: 0em;
    height: 0em;
    margin-top: calc((1em - 1lh) / 2);
    display: block;
    content: "";
  }
  &::after {
    width: 0em;
    height: 0em;
    margin-bottom: calc((1em - 1lh) / 2);
    display: block;
    content: "";
  }
}

@mixin icon($type: "solid", $codepoint: null) {
  font-size-adjust: none;
  @if $type == "solid" {
    font-family: "Font Awesome 7 Sharp";
    font-weight: 900;
  } @else if $type == "regular" {
    font-family: "Font Awesome 7 Sharp";
    font-weight: 400;
  } @else if $type == "brand" {
    font-family: "Font Awesome 7 Brands";
    font-weight: 400;
  }
  @if $codepoint {
    content: $codepoint;
  }
}

@mixin text-size-adjust {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@mixin background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin tnum-variant {
  font-variant-numeric: tabular-nums;
  font-feature-settings: "tnum" 1;
}

@mixin lnum-variant {
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}