@charset "utf-8";


@font-face {
  font-family: "Alegreya";
  src: url("/material/font/alegreya-italic.otf") format("opentype"), url("https://fonts.gstatic.com/s/alegreya/v10/4UaHrEBBsBhlBjvfkSLk96rp5w.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("/material/font/alegreya-bold-italic.otf") format("opentype"), url("https://fonts.gstatic.com/s/alegreya/v10/4UaErEBBsBhlBjvfkSLk_xHM8pxULg.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("/material/font/alegreya.otf") format("opentype"), url("https://fonts.gstatic.com/s/alegreya/v10/4UaBrEBBsBhlBjvfkSLhx6g.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("/material/font/alegreya-bold.otf") format("opentype"), url("https://fonts.gstatic.com/s/alegreya/v10/4UaGrEBBsBhlBjvfkSpa4r3Owp4.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brill Web";
  src: url("/material/font/brill.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "lnum" 1;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: "Brill Web";
  src: url("/material/font/brill-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-feature-settings: "lnum" 1;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: "Brill Web";
  src: url("/material/font/brill-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-feature-settings: "lnum" 1;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: "Brill Web";
  src: url("/material/font/brill-bold-italic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-feature-settings: "lnum" 1;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-roman");
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "lnum" 1;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-bold");
  font-weight: bold;
  font-style: normal;
  font-feature-settings: "lnum" 1;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-italic");
  font-weight: normal;
  font-style: italic;
  font-feature-settings: "lnum" 1;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-bolditalic");
  font-weight: bold;
  font-style: italic;
  font-feature-settings: "lnum" 1;
  ascent-override: 90%;
  descent-override: 20%;
}

@font-face {
  font-family: "Inter Web";
  src: url("/material/font/inter.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans Display";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  size-adjust: 96%;
  src: url("/material/font/noto-sans.woff2") format("woff2"), url("/material/font/noto-sans.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Display";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  size-adjust: 96%;
  src: url("/material/font/noto-sans-italic.woff2") format("woff2"), url("/material/font/noto-sans-italic.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Display";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  size-adjust: 96%;
  src: url("/material/font/noto-sans.woff2") format("woff2"), url("/material/font/noto-sans.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Display";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  size-adjust: 96%;
  src: url("/material/font/noto-sans-italic.woff2") format("woff2"), url("/material/font/noto-sans-italic.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  size-adjust: 96%;
  src: url("/material/font/noto-serif.woff2") format("woff2"), url("/material/font/noto-serif.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  size-adjust: 96%;
  src: url("/material/font/noto-serif-italic.woff2") format("woff2"), url("/material/font/noto-serif-italic.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  size-adjust: 96%;
  src: url("/material/font/noto-serif.woff2") format("woff2"), url("/material/font/noto-serif.woff") format("woff");
}

@font-face {
  font-family: "Noto Serif";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  size-adjust: 96%;
  src: url("/material/font/noto-serif-italic.woff2") format("woff2"), url("/material/font/noto-serif-italic.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/material/font/noto-mono.woff2") format("woff2"), url("/material/font/noto-mono.woff") format("woff");
}

@font-face {
  font-family: "Assurbanipal Web";
  src: url("/material/font/assurbanipal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vekos Web";
  src: url("/material/font/vekos.woff") format("woff"), url("/material/font/vekos.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilit Web";
  src: url("/material/font/gilit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilit Web";
  src: url("/material/font/gilit-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Kaleg Round Expanded Web";
  src: url("/material/font/kalege-round-expanded.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kaleg Round Expanded Web";
  src: url("/material/font/kalege-round-expanded-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Chord Font";
  src: url("/material/font/chord.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hieroglyphic";
  src: url("/material/font/gardiner.ttf") format("truetype");
}