@charset "utf-8";


@font-face {
  font-family: "Alegreya";
  src: url("../material/font/3.otf") format("opentype"), url("https://fonts.gstatic.com/s/alegreya/v10/4UaHrEBBsBhlBjvfkSLk96rp5w.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/4.otf") format("opentype"), url("https://fonts.gstatic.com/s/alegreya/v10/4UaErEBBsBhlBjvfkSLk_xHM8pxULg.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/5.otf") format("opentype"), url("https://fonts.gstatic.com/s/alegreya/v10/4UaBrEBBsBhlBjvfkSLhx6g.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alegreya";
  src: url("../material/font/6.otf") format("opentype"), url("https://fonts.gstatic.com/s/alegreya/v10/4UaGrEBBsBhlBjvfkSpa4r3Owp4.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brill Web";
  src: url("../material/font/14.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  size-adjust: 108%;
  ascent-override: 90%;
  descent-override: 20%;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Web";
  src: url("../material/font/15.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  size-adjust: 108%;
  ascent-override: 90%;
  descent-override: 20%;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Web";
  src: url("../material/font/16.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  size-adjust: 108%;
  ascent-override: 90%;
  descent-override: 20%;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Web";
  src: url("../material/font/17.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  size-adjust: 108%;
  ascent-override: 90%;
  descent-override: 20%;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-roman");
  font-weight: normal;
  font-style: normal;
  size-adjust: 108%;
  ascent-override: 90%;
  descent-override: 20%;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-bold");
  font-weight: bold;
  font-style: normal;
  size-adjust: 108%;
  ascent-override: 90%;
  descent-override: 20%;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-italic");
  font-weight: normal;
  font-style: italic;
  size-adjust: 108%;
  ascent-override: 90%;
  descent-override: 20%;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Brill Local";
  src: local("brill-bolditalic");
  font-weight: bold;
  font-style: italic;
  size-adjust: 108%;
  ascent-override: 90%;
  descent-override: 20%;
  font-feature-settings: "lnum" 1;
}

@font-face {
  font-family: "Inter Web";
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.19") format("woff2");
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
  size-adjust: 91%;
}

@font-face {
  font-family: "Inter Web";
  src: url("https://rsms.me/inter/font-files/Inter-Italic.woff2?v=3.19") format("woff2");
  font-weight: normal;
  font-style:  italic;
  font-display: swap;
  size-adjust: 91%;
}

@font-face {
  font-family: "Arial Local";
  src: local("arial");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  size-adjust: 95%;
}

@font-face {
  font-family: "Assurbanipal Web";
  src: url("../material/font/18.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vekos Web";
  src: url("../material/font/7.woff") format("woff"), url("../material/font/7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilit Web";
  src: url("../material/font/8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilit Web";
  src: url("../material/font/9.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Kaleg Round Expanded Web";
  src: url("/material/font/11.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kaleg Round Expanded Web";
  src: url("/material/font/12.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Chord Font";
  src: url("/material/font/13.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}