@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.footer {
  width: 100%;
  margin-block-start: 100rpx;
  margin-block-end: 0rpx;
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
}

.footer-inner {
  max-width: $main-max-width;
  padding-block: 20rpx;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    width: $main-width;
    padding-inline: $main-horizontal-padding;
    box-sizing: content-box;
  }
  @include mobile {
    width: 100%;
    box-sizing: border-box;
  }
}

.footer-site-list {
  width: 100%;
  max-width: 720rpx;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content max-content;
}

.footer-site-item {
  row-gap: 8rpx;
  align-items: center;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;
  &:not(:first-child) {
    border-inline-start: solid 1rpx var(--footer-text-color);
  }
}

.footer-site-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &[data-scheme="shaleian"] {
    @include shaleian-scheme;
  }
  &[data-scheme="fennese"] {
    @include fennese-scheme;
  }
  &[data-scheme="other"] {
    @include other-scheme;
  }
}

.footer-site-title-text {
  @include special-font;
  &[data-size="single"] {
    font-size: 400% * 0.35;
  }
  &[data-size="small"] {
    font-size: 150% * 0.35;
  }
  &[data-size="large"] {
    font-size: 350% * 0.35;
  }
  .footer-site-title[data-scheme="other"] &[data-size="small"] {
    letter-spacing: 0.35em;
    text-indent: -0.2em;
  }
  .footer-site-title[data-scheme="other"] &[data-size="large"] {
    letter-spacing: 0.15em;
  }
  .footer-site-title[data-scheme="fennese"] &[data-size="single"] {
    letter-spacing: -0.03em;
  }
}

.footer-site-description {
  font-size: 90%;
  text-align: center;
}

.footer-icon-list {
  margin-block-start: 15rpx;
  column-gap: 20rpx;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon-item {
  @include icon-font;
  font-weight: normal;
  cursor: pointer;
  &[data-brand="twitter"]::before {
    content: "\F099";
  }
  &[data-brand="youtube"]::before {
    content: "\F167";
  }
  &[data-brand="discord"]::before {
    content: "\F392";
  }
  &[data-brand="github"]::before {
    content: "\F09B";
  }
}

.footer-copyright {
  margin-block-start: 10rpx;
  font-size: 80%;
}

.footer-copyright-author {
  &::before {
    content: " · ";
  }
}