@charset "utf-8";

@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$header-height: 120rpx;
$header-skew-angle: -15deg;

.header {
  width: 100%;
  height: $header-height;
  background-color: var(--main-background-color);
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}

.header-inner {
  height: 100%;
  column-gap: 15rpx;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @include desktop {
    width: $main-width;
    max-width: $main-max-width;
    padding-inline: $main-horizontal-padding;
    box-sizing: content-box;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.header-left {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  z-index: 1;
  &::before {
    inset-block: 0rpx;
    inset-inline-start: -100vi;
    inset-inline-end: -100vi;
    background-color: var(--blue-color);
    background-origin: padding-box;
    position: absolute;
    z-index: -10;
    content: "";
  }
  @include desktop {
    justify-content: flex-start;
  }
  @include mobile {
    justify-content: center;
  }
}

.header-right {
  display: none;
}

.header-title {
  color: var(--main-background-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.header-title-text {
  @include special-font;
  &[data-size="small"] {
    font-size: 150%;
    letter-spacing: 0.35em;
    text-indent: -0.2em;
  }
  &[data-size="large"] {
    font-size: 350%;
    letter-spacing: 0.15em;
  }
}