@charset "utf-8";

@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$header-height: 120rpx;
$header-skew-angle: -9deg;

.header {
  width: 100%;
  height: $header-height;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  @include desktop {
    &::before {
      inset-block: 0rpx;
      inset-inline-start: calc((100vi + min($main-width, $main-max-width)) / 2 + $main-horizontal-padding - $header-height * tan($header-skew-angle) + 60rpx);
      inset-inline-end: -100vi;
      background-color: var(--primary-color);
      transform: skew($header-skew-angle);
      transform-origin: center top;
      opacity: 0.3;
      position: fixed;
      z-index: -10;
      content: "";
    }
  }
}

.header-inner {
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @include desktop {
    width: $main-width;
    max-width: $main-max-width;
    padding-inline: $main-horizontal-padding;
    justify-content: flex-start;
    box-sizing: content-box;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    justify-content: center;
    box-sizing: border-box;
  }
}

.header-left {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  &::before {
    inset-block: 0rpx;
    inset-inline-end: 0rpx;
    background-image: url("/material/fennese/1.svg");
    background-size: 140rpx auto;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    content: "";
    @include desktop {
      inset-inline-start: 0rpx;
      background-position: center left;
    }
    @include mobile {
      inset-inline-start: 0rpx;
      background-position: center center;
    }
  }
}

.header-right {
  display: none;
}

.header-title {
  color: var(--main-background-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.header-title-text {
  @include special-font;
  font-size: 400%;
  color: var(--logo-color);
  text-transform: uppercase;
  -webkit-text-stroke: 4rpx var(--page-background-color);
  paint-order: stroke;
}
