@charset "utf-8";

@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.navigation {
  width: 100%;
  background-color: var(--main-background-color);
  flex: 0 0 auto;
}

.navigation-inner {
  padding-block: 10rpx;
  margin-inline: auto;
  line-height: $program-line-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include desktop {
    width: $main-width;
    max-width: $main-max-width;
    padding-inline: 0rpx;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.navigation-list {
  list-style: none;
  display: inline;
}

.navigation-item {
  display: inline;
  &:not(:nth-child(1))::before {
    @include icon("regular", "\F101");
    margin-inline: $blank-margin;
    color: var(--primary-color);
    line-height: 0;
    opacity: 0.5;
  }
  &:nth-child(1) >.navigation-link >* {
    display: none;
  }
  &:nth-child(1) >.navigation-link::before {
    @include icon("solid", "\F015");
    color: var(--primary-color);
  }
}

.navigation-link {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  &:focus-visible {
    outline: solid 2rpx oklch(from var(--primary-color) l c h / 0.5);
    outline-offset: 1rpx;
  }
}

.navigation-version {
  margin-inline-start: 30rpx;
  white-space: nowrap;
  flex: 0 0 auto;
  &[data-caution] {
    color: var(--caution-cikir);
  }
}