@charset "utf-8";

@import "../../util/common.scss";
@import "../../main-module/variable.scss";


$navigation-skew-angle: -9deg;

.navigation {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  z-index: 0;
}

.navigation-inner {
  padding-block: 10rpx;
  margin-inline: auto;
  line-height: $program-line-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  backdrop-filter: blur(5rpx);
  z-index: 0;
  &::before {
    inset-block: 0rpx;
    background-color: var(--main-background-color);
    position: absolute;
    z-index: -1;
    content: "";
  }
  @include desktop {
    width: $main-width;
    max-width: $main-max-width;
    padding-inline: 0rpx;
    &::before {
      inset-inline-start: -100vi;
      inset-inline-end: 0rpx - $main-horizontal-padding;  
      transform: skew($navigation-skew-angle);
    }
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
    &::before {
      inset-inline-start: 0rpx;
      inset-inline-end: 0rpx;
    }
  }
}

.navigation-list {
  list-style: none;
  display: inline;
}

.navigation-item {
  display: inline;
  &:not(:nth-child(1))::before {
    @include icon("regular", "\F101");
    margin-inline: $blank-margin;
    color: var(--primary-color);
    line-height: 0;
    opacity: 0.5;
  }
  &:nth-child(1) >.navigation-link >* {
    display: none;
  }
  &:nth-child(1) >.navigation-link::before {
    @include icon("solid", "\F015");
    color: var(--primary-color);
  }
}

.navigation-link {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.navigation-version {
  margin-inline-start: 30rpx;
  white-space: nowrap;
  flex: 0 0 auto;
  &[data-caution] {
    color: var(--caution-cikir);
  }
}