@charset "utf-8";

@use "sass:math" as *;
@import "../util/common.scss";
@import "../main-module/variable.scss";


.ad {
  width: $main-width;
  max-width: $main-max-width;
  margin: 40rpx auto 0rpx auto;
  padding: 0rpx $main-horizontal-padding;
  box-sizing: content-box;
  @include smartphone {
    width: 100%;
    padding-left: $main-smartphone-horizontal-padding;
    padding-right: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.ad-inner {
  width: 100%;
}