@charset "utf-8";


@mixin shaleian-scheme {
  --text-color: hsl(0, 0%, 20%);
  --blue-color: hsl(198, 75%, 50%);
  --dark-blue-color: hsl(205, 75%, 40%);
  --orange-color: hsl(35, 75%, 50%);
  --dark-orange-color: hsl(28, 75%, 40%);
  --red-color: hsl(307, 100%, 60%);
  --gray-color: hsl(0, 0%, 50%);
  --shadow-color: hsla(0, 0%, 0%, 0.1);
  --page-background-color: hsl(198, 60%, 94%);
  --page-dark-background-color: hsl(198, 60%, 90%);
  --block-background-color: hsl(198, 60%, 96%);
  --main-background-color: white;
  --footer-background-color: hsl(0, 0%, 90%);
  --footer-text-color: hsl(0, 0%, 50%);
  --special-font-family: "Josefin Sans";
  --special-font-weight: 600;
  --special-font-compensation: 0.15em;
}

@mixin fennese-scheme {
  --text-color: hsl(20, 10%, 80%);
  --blue-color: hsl(25, 35%, 60%);
  --dark-blue-color: hsl(25, 30%, 70%);
  --orange-color: hsl(50, 50%, 55%);
  --dark-orange-color: hsl(50, 45%, 65%);
  --red-color: hsl(307, 100%, 60%);
  --gray-color: hsl(20, 3%, 60%);
  --shadow-color: hsla(0, 0%, 0%, 0.1);
  --page-background-color: hsl(240, 6%, 25%);
  --page-dark-background-color: hsl(240, 6%, 17%);
  --block-background-color: hsl(240, 8%, 22%, 0.9);
  --main-background-color: hsla(240, 10%, 15%, 0.8);
  --footer-background-color: hsl(240, 6%, 20%);
  --footer-text-color: hsl(240, 2%, 55%);
  --special-font-family: "Ysabeau";
  --special-font-weight: 500;
  --special-font-compensation: 0em;
}

@mixin other-scheme {
  --text-color: hsl(0, 0%, 20%);
  --blue-color: hsl(230, 60%, 60%);
  --dark-blue-color: hsl(230, 55%, 50%);
  --orange-color: hsl(240, 50%, 50%);
  --dark-orange-color: hsl(240, 45%, 40%);
  --red-color: hsl(307, 100%, 60%);
  --gray-color: hsl(0, 0%, 50%);
  --shadow-color: hsla(0, 0%, 0%, 0.1);
  --page-background-color: hsl(215, 20%, 96%);
  --page-dark-background-color: hsl(215, 20%, 88%);
  --block-background-color: hsl(215, 90%, 98%);
  --main-background-color: white;
  --footer-background-color: hsl(0, 0%, 90%);
  --footer-text-color: hsl(0, 0%, 50%);
  --special-font-family: "EB Garamond";
  --special-font-weight: 600;
  --special-font-compensation: 0em;
}