@charset "utf-8";

@import "../util/common.scss";
@import "../main-module/variable.scss";


$content-item-height: 90rpx;
$content-item-skew-angle: -15deg;

.content-table-main {
  width: 100%;
  margin-block-start: 40rpx;
  margin-block-end: 0rpx;
  margin-inline: auto;
  flex: 1 1 auto;
}

.content-table-main-inner {
  margin-inline: auto;
  max-width: $main-max-width;
  padding-block-start: 5rpx;
  padding-block-end: 10rpx;
  @include desktop {
    width: $main-width;
    padding-inline: 0rpx;
    box-sizing: content-box;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.content-table {
  row-gap: 20rpx;
  column-gap: 30rpx;
  display: grid;
  @include large-screen {
    grid-template-columns: repeat(2, 1fr);
  }
  @include small-screen {
    grid-template-columns: repeat(1, 1fr);
  }
}

.content-head {
  margin-block-end: 15rpx;
  font-size: 120%;
  color: var(--blue-color);
  &:not(:first-of-type) {
    margin-block-start: 20rpx;
  }
}

.content-item {
  height: $content-item-height;
  padding-inline: 32rpx;
  color: color-mix(in oklch, var(--blue-color) 50%, var(--text-color));
  background-color: var(--main-background-color);
  box-shadow: 3rpx 3rpx 0rpx 0rpx var(--shadow-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: color 0.2s;
  z-index: 0;
  &:not([data-disabled]) {
    cursor: pointer;
  }
  &[data-disabled] {
    opacity: 0.5;
    box-shadow: none;
  }
  &:not([data-disabled]):hover {
    color: var(--main-background-color);
  }
  &::before {
    width: calc(100% - #{$content-item-height * tan(abs($content-item-skew-angle))} - 6rpx);
    inset-inline-start: calc(-100% + #{$content-item-height * tan(abs($content-item-skew-angle))} + 6rpx + #{div($content-item-height * tan(abs($content-item-skew-angle)), 2)});
    inset-block: 0rpx;
    background-color: var(--blue-color);
    transform: skew($content-item-skew-angle);
    transition: inset-inline-start 0.2s;
    position: absolute;
    z-index: -1;
    content: "";
  }
  &:not([data-disabled]):hover::before {
    inset-inline-start: calc(#{div($content-item-height * tan(abs($content-item-skew-angle)), 2)});
  }
  &::after {
    width: 100%;
    inset-inline-end: calc(-100% + #{div($content-item-height * tan(abs($content-item-skew-angle)), 2)});
    inset-block: 0rpx;
    background-color: var(--orange-color);
    transform: skew($content-item-skew-angle);
    position: absolute;
    z-index: -2;
    content: "";
  }
}

.content-title {
  font-size: 130%;
  line-height: $small-line-height;
}

.content-date {
  margin-block-end: 3rpx;
  font-size: 80%;
  opacity: 0.7;
}