@charset "utf-8";

@import "../util/common.scss";
@import "../main-module/variable.scss";


.error-main {
  max-width: $main-max-width;
  margin-block-start: 40rpx;
  margin-block-end: 0rpx;
  margin-inline: auto;
  padding-block-start: 5rpx;
  padding-block-end: 10rpx;
  @include desktop {
    width: $main-width;
    padding-inline: 0rpx;
    box-sizing: content-box;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.error-code-container {
  column-gap: 30rpx;
  color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-code {
  @include special-font;
  margin-block-end: -0.15em;
  font-size: 500%;
}

.error-message {
  font-size: 150%;
  font-family: "Gilit Web";
  font-weight: bold;
  line-height: 1.2;
}

.error-description {
  margin-block-start: 10rpx;
  color: color-mix(in oklch, var(--blue-color) 50%, var(--text-color));
  display: flex;
  justify-content: center;
}