@charset "utf-8";

@import "../util/common.scss";
@import "../main-module/variable.scss";


.error-main {
  width: $main-width;
  max-width: $main-max-width;
  margin: 40rpx auto 0rpx auto;
  padding: 5rpx 0rpx 10rpx 0rpx;
  box-sizing: content-box;
  @include smartphone {
    width: 100%;
    padding-left: $main-smartphone-horizontal-padding;
    padding-right: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.error-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blue-color;
  gap: 0rpx 30rpx;
}

.error-code {
  margin-bottom: -0.15em;
  font-family: $special-font-family;
  font-size: 500%;
}

.error-message {
  font-family: "Gilit Web";
  font-size: 150%;
  font-weight: bold;
  line-height: 1.2;
}

.error-description {
  margin-top: 10rpx;
  color: $black-blue-color;
  display: flex;
  justify-content: center;
}