@charset "utf-8";

@import "../util/common.scss";
@import "../main-module/variable.scss";


.footer {
  width: 100%;
  margin-block-start: 30rpx;
  margin-block-end: 20rpx;
  text-align: center;
}

.footer-icon-list {
  column-gap: 15rpx;
  font-size: 140%;
  display: flex;
  justify-content: center;
}

.footer-icon-item {
  @include icon-font;
  font-weight: normal;
  cursor: pointer;
  &:not(:hover) {
    color: var(--orange-color);
  }
  &:hover {
    color: var(--dark-orange-color);
  }
  &[data-brand="twitter"]::before {
    content: "\F099";
  }
  &[data-brand="youtube"]::before {
    content: "\F167";
  }
  &[data-brand="discord"]::before {
    content: "\F392";
  }
  &[data-brand="github"]::before {
    content: "\F09B";
  }
}

.footer-copyright {
  margin-block-start: 10rpx;
  font-size: 80%;
  display: block;
}

.footer-copyright-author {
  &::before {
    content: " · ";
  }
}

.footer-counter {
  margin-block-start: 5rpx;
  font-size: 80%;
  display: block;
}