@charset "utf-8";

@import "../util/common.scss";
@import "../main-module/variable.scss";


$header-skew-angle: -15deg;

.header {
  width: 100%;
  height: 120rpx;
  background-color: var(--main-background-color);
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}

.header-inner {
  height: 100%;
  column-gap: 15rpx;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  @include desktop {
    width: $main-width;
    max-width: $main-max-width;
    padding-inline: $main-horizontal-padding;
    box-sizing: content-box;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.header-left {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  z-index: 1;
  &::before {
    inset-block: 0rpx;
    inset-inline-start: -100vi;
    inset-inline-end: 0rpx;
    background-color: var(--blue-color);
    background-origin: padding-box;
    transform: skew($header-skew-angle);
    position: absolute;
    z-index: -10;
    content: "";
  }
}

.header-right {
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
  z-index: 2;
  &::before {
    inset-block: 0rpx;
    inset-inline-end: -100vi;
    inset-inline-start: 0rpx;
    background-color: var(--orange-color);
    transform: skew($header-skew-angle);
    position: absolute;
    z-index: -10;
    content: "";
  }
}

.header-title {
  color: var(--main-background-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.header-title-text {
  @include special-font;
  &[data-size="single"] {
    font-size: 400%;
  }
  &[data-size="small"] {
    font-size: 150%;
  }
  &[data-size="large"] {
    font-size: 350%;
  }
  .header-title[data-scheme="other"] &[data-size="small"] {
    letter-spacing: 0.35em;
    text-indent: -0.2em;
  }
  .header-title[data-scheme="other"] &[data-size="large"] {
    letter-spacing: 0.15em;
  }
  .header-title[data-scheme="fennese"] &[data-size="single"] {
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}

$header-list-vertical-gap: 12rpx;
$header-list-horizontal-gap: 10rpx;
$header-item-width: 140rpx;
$header-item-height: 35rpx;

.header-list {
  row-gap: $header-list-vertical-gap;
  display: flex;
  flex-direction: column;
}

.header-row {
  column-gap: $header-list-horizontal-gap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-item {
  width: $header-item-width;
  height: $header-item-height;
  font-size: 120%;
  color: color-mix(in oklch, var(--orange-color) 50%, var(--text-color));
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
  flex: 0 0 auto;
  &::before {
    inset: 0rpx;
    box-shadow: 3rpx 3rpx 0rpx 0rpx var(--shadow-color);
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--main-background-color) 50%, color-mix(in oklch, var(--orange-color) 20%, var(--main-background-color)) 50%);
    transform: skew($header-skew-angle);
    transition: background-position 0.2s;
    position: absolute;
    z-index: -2;
    content: "";
  }
  &:not(:hover)::before {
    background-position: 0% 0%;
  }
  &:hover::before {
    background-position: 0% 100%;
  }
}