@charset "utf-8";

@use "sass:math" as *;
@import "../util/common.scss";
@import "../main-module/variable.scss";


.information {
  width: 100%;
  max-width: 600rpx;
  margin: 40rpx auto 0rpx auto;
  padding: $main-vertical-padding 30rpx;
  box-sizing: content-box;
  background-color: var(--main-background-color);
  overflow: hidden;
  display: none;
  --current-background-color: var(--main-background-color);
  @include mobile {
    width: 100%;
    padding-left: $main-smartphone-horizontal-padding;
    padding-right: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.information-explanation {
  @include justify;
  line-height: $line-height;
}

.information-button-container {
  margin-top: $block-vertical-margin + $additional-block-vertical-margin;
  display: flex;
  justify-content: center;
  column-gap: 1em;
}