@charset "utf-8";

@use "sass:math" as *;
@import "../util/common.scss";
@import "../main-module/variable.scss";


.main {
  width: 100%;
  margin-block-start: 40rpx;
  margin-block-end: 0rpx;
  flex: 1 1 auto;
}

.main-inner {
  max-width: $main-max-width;
  margin-inline: auto;
  &:not([data-transparent]) {
    padding-block: $main-vertical-padding;
    background-color: var(--main-background-color);
    backdrop-filter: blur(5rpx);
    --current-background-color: var(--main-background-color);
  }
  &[data-transparent] {
    padding-block: 0rpx;
    background-color: transparent;
    --current-background-color: var(--page-background-color);
  }
  @include desktop {
    width: $main-width;
    padding-inline: $main-horizontal-padding;
    box-sizing: content-box;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

.block[data-bottom-block-type="text"] +.block[data-top-block-type="text"] {
  margin-block-start: $block-vertical-margin;
}

.block[data-bottom-block-type="text"][data-section] +.block[data-top-block-type="text"],
.block[data-bottom-block-type="text"] +.block[data-top-block-type="text"][data-section] {
  margin-block-start: $block-vertical-margin + $additional-section-vertical-margin;
}

.block[data-bottom-block-type="text"] +.block[data-top-block-type="bordered"],
.block[data-bottom-block-type="bordered"] +.block[data-top-block-type="text"] {
  margin-block-start: $block-vertical-margin + $additional-block-vertical-margin;
}

.block[data-bottom-block-type="text"][data-section] +.block[data-top-block-type="bordered"],
.block[data-bottom-block-type="text"] +.block[data-top-block-type="bordered"][data-section],
.block[data-bottom-block-type="bordered"][data-section] +.block[data-top-block-type="text"],
.block[data-bottom-block-type="bordered"] +.block[data-top-block-type="text"][data-section] {
  margin-block-start: $block-vertical-margin + $additional-block-vertical-margin + $additional-section-vertical-margin;
}

.block[data-bottom-block-type="bordered"] +.block[data-top-block-type="bordered"] {
  margin-block-start: $block-vertical-margin + $additional-block-vertical-margin * 2;
}

.block[data-bottom-block-type="bordered"][data-section] +.block[data-top-block-type="bordered"] ,
.block[data-bottom-block-type="bordered"] +.block[data-top-block-type="bordered"][data-section] {
  margin-block-start: $block-vertical-margin + $additional-block-vertical-margin * 2 + $additional-section-vertical-margin;
}