@charset "utf-8";

@import "../util/common.scss";
@import "../main-module/variable.scss";


.navigation {
  padding-block: 10rpx;
  background-color: var(--main-background-color);
  flex: 0 0 auto;
  @include mobile {
    width: 100%;
  }
}

.navigation-inner {
  max-width: $main-max-width;
  margin-inline: auto;
  line-height: $small-line-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include desktop {
    width: $main-width;
    padding-inline: 0rpx;
  }
  @include mobile {
    width: 100%;
    padding-inline: $main-smartphone-horizontal-padding;
    box-sizing: border-box;
  }
}

.navigation-list {
  list-style: none;
  display: inline;
}

.navigation-item {
  display: inline;
  &:not(:nth-child(1))::before {
    @include icon-font;
    margin-inline: fix-em($blank-margin, 90%);
    font-size: 90%;
    color: var(--blue-color);
    line-height: 0;
    opacity: 0.5;
    content: "\F101";
  }
  &:nth-child(1) >.navigation-link >* {
    display: none;
  }
  &:nth-child(1) >.navigation-link::before {
    @include icon-font;
    font-size: 90%;
    color: var(--blue-color);
    content: "\F015";
  }
}

.navigation-link {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

.navigation-version {
  margin-inline-start: 30rpx;
  white-space: nowrap;
  flex: 0 0 auto;
  &[data-caution] {
    color: var(--red-color);
  }
}