@charset "utf-8";

@use "sass:math" as *;
@import "../util/common.scss";
@import "../main-module/variable.scss";


$popup-arrow-size: 8rpx;

.popup {
  min-width: 100rpx;
  max-width: 300rpx;
  padding: 8rpx 10rpx;
  font-size: 80%;
  line-height: 1.2;
  background-color: $main-background-color;
  border: 1rpx $blue-color solid;
  position: relative;
  z-index: 100;
  &[aria-hidden="true"] {
    visibility: hidden;
    pointer-events: none;
  }
}

.popup-arrow {
  width: $popup-arrow-size;
  height: $popup-arrow-size;
  position: absolute;
  background: inherit;
  visibility: hidden;
  &::before,
  &::after {
    width: $popup-arrow-size;
    height: $popup-arrow-size;
    position: absolute;
    background: $blue-color;
    visibility: visible;
    transform: rotate(45deg);
    content: "";
    [aria-hidden="true"] & {
      visibility: hidden;
    }
  }
  &::after {
    background: $main-background-color;
  }
  [data-popper-placement^="top"] >& {
    bottom: div($popup-arrow-size, -2);
    &::after {
      top: -1rpx;
    }
  }
  [data-popper-placement^="bottom"] >& {
    top: div($popup-arrow-size, -2);
    &::after {
      bottom: -1rpx;
    }
  }
}

.popup-head {
  font-size: 125%;
  margin-bottom: 5rpx;
}

.popup-section-item {
  margin-bottom: 5rpx;
  text-align: justify;
  &:last-child {
    margin-bottom: 0rpx;
  }
}

.popup-tag {
  padding: 1rpx 2rpx;
  font-size: 80%;
  text-align: center;
  line-height: 1;
  border: 1rpx $blue-color solid;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  bottom: 1rpx;
}

.popup-small {
  font-size: 80%;
}

.popup-small-head {
  margin: 0px 3px 0px 0px;
  font-size: 80%;
  color: $blue-color;
}

.popup-right-margin {
  margin: 0rpx 3rpx 0rpx 0rpx;
}