@charset "utf-8";

@import "../util/common.scss";
@import "../main-module/variable.scss";


.header {
  width: 100%;
}

.header-inner {
  width: 100%;
}

.header-left {
  padding-block: 20rpx;
  padding-inline: $main-smartphone-horizontal-padding;
  background-color: var(--blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right {
  padding-block: 15rpx;
  padding-inline: $main-smartphone-horizontal-padding;
  border-block-start: solid 6rpx var(--header-background-color);
  background-color: var(--orange-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  color: var(--main-background-color);
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title-text {
  @include special-font;
  &[data-size="single"] {
    font-size: 400%;
  }
  &[data-size="small"] {
    font-size: 150%;
  }
  &[data-size="large"] {
    font-size: 350%;
  }
  body[data-scheme="default"] &[data-size="small"] {
    letter-spacing: 0.35em;
    text-indent: -0.2em;
  }
  body[data-scheme="default"] &[data-size="large"] {
    letter-spacing: 0.15em;
  }
  body[data-scheme="fennese"] &[data-size="single"] {
    letter-spacing: -0.03em;
  }
}

$header-list-vertical-gap: 10rpx;
$header-list-horizontal-gap: 10rpx;
$header-item-height: 35rpx;

.header-list {
  row-gap: $header-list-vertical-gap;
  column-gap: $header-list-horizontal-gap;
  display: flex;
  position: relative;
  flex-grow: 1;
  z-index: 0;
  container-name: header-list;
  container-type: inline-size;
}

.header-row {
  display: contents;
}

.header-item {
  width: calc((100cqi - #{$header-list-horizontal-gap} * 2) / 3);
  height: $header-item-height;
  padding-inline: 10rpx;
  font-size: 120%;
  color: var(--black-orange-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
  &::before {
    inset: 0rpx;
    box-shadow: 3rpx 3rpx 0rpx 0rpx var(--shadow-color);
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, var(--main-background-color) 50%, var(--white-orange-color) 50%);
    transform: skew($skew-angle);
    transition: background-position 0.2s;
    position: absolute;
    z-index: -2;
    content: "";
  }
  &:not(:hover)::before {
    background-position: 0% 0%;
  }
  &:hover::before {
    background-position: 0% 100%;
  }
}