@charset "utf-8";

@import "../util/common.scss";
@import "../main-module/variable.scss";


.header {
  width: 100%;
}

.header-inner {
  width: 100%;
}

.header-left {
  padding: 20rpx $main-smartphone-horizontal-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-color;
}

.header-right {
  padding: 15rpx $main-smartphone-horizontal-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 6rpx $header-background-color solid;
  background-color: $orange-color;
}

.header-title {
  margin-bottom: -0.15em;
  font-family: $special-font-family;
  font-size: 400%;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header-title-version {
  margin: 0em 0em 0em 0.1em;
  font-size: 70%;
  vertical-align: 0.5em;
}

$header-list-vertical-gap: 12rpx;
$header-list-horizontal-gap: 0rpx;
$header-item-height: 35rpx;

.header-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $header-list-vertical-gap $header-list-horizontal-gap;
  flex-grow: 1;
  position: relative;
  z-index: 0;
  &::before {
    top: 0rpx;
    bottom: 0rpx;
    left: 0rpx;
    right: 0rpx;
    box-shadow: 3rpx 3rpx 0rpx 0rpx $shadow-color;
    background-color: $main-background-color;
    transform: skew($skew-angle);
    position: absolute;
    z-index: -2;
    content: "";
  }
}

.header-item {
  padding: 0rpx 10rpx;
  height: $header-item-height;
  font-size: 120%;
  color: mix($orange-color, $text-color, 30%);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 0;
  &::before {
    top: 0rpx;
    bottom: 0rpx;
    left: 0rpx;
    right: 0rpx;
    background-position: 0% 0%;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 0% 50%, mix($orange-color, $main-background-color, 20%) 50% 100%);
    transform: skew($skew-angle);
    transition: background-position 0.2s;
    position: absolute;
    z-index: -2;
    content: "";
  }
  & +&::before {
    border-left: 1rpx $orange-color solid;
  }
  &:hover::before {
    background-position: 0% 100%;
  }
}