@charset "utf-8";


$main-vertical-padding: 25px;
$main-horizontal-padding: 40rpx;
$main-smartphone-horizontal-padding: 20rpx;
$block-vertical-margin: 8rpx;
$block-vertical-padding: 12rpx;
$additional-block-vertical-margin: 5rpx;
$additional-section-vertical-margin: 3rpx;

$blank-margin: 0.4em;
$bordered-blank-margin: 0.5em;
$bullet-width: 0.5em;
$arrow-width: 0.9em;

$main-width: 85vw;
$main-max-width: 960rpx;

$line-height: 1.75;
$small-line-height: 1.25;
$program-line-height: 1.5;

$text-color: hsl(0, 0%, 20%);


@mixin desktop {
  @media screen and (min-width: 881px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 880px) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (min-width: 641px) {
    @content;
  }
}

@mixin small-screen {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin box($color, $bordered: false, $dotted: false) {
  width: fix-em(1em, 80%);
  min-width: fix-em(1em, 80%);
  height: fix-em(1em, 80%);
  font-size: 80%;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: fix-em(0.12em, 80%);
  box-sizing: border-box;
  @if $bordered {
    color: $color;
    @if $dotted {
      border: 1px $color dotted;
    } @else {
      border: 1px $color solid;
    }
  } @else {
    color: var(--current-background-color);
    background-color: $color;
  }
}

@mixin special-font {
  font-family: var(--special-font-family);
  font-weight: var(--special-font-weight, bold);
  translate: 0em var(--special-font-compensation, 0em);
}

@mixin justify {
  @include desktop {
    text-align: justify;
  }
  @include mobile {
    text-align: unset;
  }
}