@charset "utf-8";


$text-color: hsl(0, 0, 20%);
$blue-color: hsl(198, 75%, 50%);
$dark-blue-color: hsl(205, 75%, 40%);
$black-blue-color: mix($blue-color, $text-color, 40%);
$white-blue-color: mix($blue-color, white, 20%);
$orange-color: hsl(35, 75%, 50%);
$dark-orange-color: hsl(28, 75%, 40%);
$black-orange-color: mix($orange-color, $text-color, 40%);
$white-orange-color: mix($orange-color, white, 20%);
$gray-color: hsl(0, 0, 50%);
$shadow-color: rgba(black, 0.1);

$page-background-color: hsl(198, 60%, 94%);
$header-background-color: white;
$main-background-color: white;
$block-background-color: hsl(198, 60%, 96%);

$main-vertical-padding: 25px;
$main-horizontal-padding: 40rpx;
$main-smartphone-horizontal-padding: 20rpx;
$block-vertical-margin: 8rpx;
$block-vertical-padding: 12rpx;
$additional-block-vertical-margin: 5rpx;

$blank-margin: 0.4em;
$bordered-blank-margin: 0.5em;
$bullet-width: 0.5em;
$arrow-width: 0.9em;

$main-width: 85vw;
$main-max-width: 960rpx;

$skew-angle: -15deg;
$skew-tan: tan(abs($skew-angle));

$special-font-family: "Josefin Sans";

$line-height: 1.7;
$small-line-height: 1.2;
$program-line-height: 1.5;


@mixin box($color, $bordered: false) {
  width: fix-em(1em, 80%);
  min-width: fix-em(1em, 80%);
  height: fix-em(1em, 80%);
  font-size: 80%;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: fix-em(0.12em, 80%);
  @if $bordered {
    color: $color;
    box-shadow: 0rpx 0rpx 0rpx 1rpx $color;
  } @else {
    color: var(--background-color);
    background-color: $color;
  }
}

@mixin small-screen {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin smartphone {
  @media screen and (max-width: 880px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 881px) {
    @content;
  }
}