@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.hairia {
}

.hairia-mark {
  font-size: 80%;
  vertical-align: 0.3906em;
  line-height: 0;
}

.part {
}

.part-mark {
  font-size: 90%;
  vertical-align: 0.15em;
  line-height: 0;
}

.foreign {
  font-size: 80%;
}

.small {
}

.lyrics-space {
  margin-inline-end: 0.5em;
}

.redaction {
  padding-block: 0.1em;
  line-height: 100%;
  white-space: break-spaces;
  border: solid 1rpx var(--blue-color);
  background-image: linear-gradient(-45deg, transparent 33%, var(--blue-color) 33% 50%, transparent 50% 83%, var(--blue-color) 83%);
  background-size: 3rpx 3rpx;
}

.inline-block {
  display: inline-block;
}

.dozenal {
  position: relative;
  >.dozenal-main {
    color: transparent;
  }
  >.dozenal-pseudo {
    inset: 0em;
    line-height: 1;
    transform: translate(0em, 0em) rotate(180deg);
    position: absolute;
    display: inline-block;
    user-select: none;
  }
}