@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.code {
  @extend .monospace;
  background-color: $block-background-color;
}

.cuneiform {
  font-family: "Assurbanipal Web";
  font-size: 150%;
  line-height: 1;
  position: relative;
  bottom: -0.15em;
}

.cuneiform-break {
  margin-left: -0.3em;
  margin-right: -0.3em;
  color: $gray-color;
  &::after {
    content: "·";
  }
}

.cuneiform-sentence {
  word-spacing: 0.5em;
}

.music-accidental {
  font-family: "Chord Font";
}

.music-chord {
  font-family: "Chord Font";
}

.foreign {
  font-size: 80%;
  &::before {
    content: " (";
  }
  &::after {
    content: ")";
  }
}

.emphasis {
  font-weight: inherit;
  font-style: inherit;
  background-image: linear-gradient($blue-color, $blue-color);
  background-size: 100% 2rpx;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.small {
}

.lyrics-space {
  margin-right: 0.5em;
}

.redaction {
  padding: 0.1em 0em;
  line-height: 100%;
  white-space: break-spaces;
  border: 1rpx $blue-color solid;
  background-image: linear-gradient(-45deg, transparent 33%, $blue-color 33% 50%, transparent 50% 83%, $blue-color 83%);
  background-size: 3rpx 3rpx;
}