@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.sans {
  font-family: $sans-font-family !important;
  font-weight: $sans-font-weight !important;
  font-feature-settings: "palt" 1, "pkna" 1;
}

.italic {
  font-style: italic;
}

.smallcaps {
  font-variant: small-caps;
  font-feature-settings: "smcp" 1;
}

.sup {
  font-size: 80%;
  vertical-align: 0.3906em;
  line-height: 0;
}

.sub {
  font-size: 80%;
  vertical-align: -0.2969em;
  line-height: 0;
}

.japanese {
  font-family: $japanese-serif-font-family !important;
  font-weight: $serif-font-weight;
  font-feature-settings: "palt" 0;
  line-height: 1;
}

.monospace {
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
  font-weight: $monospace-font-weight;
  letter-spacing: $monospace-letter-spacing;
  white-space: pre-wrap;
}

.code {
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
  font-weight: $monospace-font-weight;
  letter-spacing: $monospace-letter-spacing;
  background-color: var(--block-background-color);
  white-space: pre-wrap;
}