@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.cuneiform {
  font-family: "Assurbanipal Web";
  font-size: 150%;
  line-height: 1;
  position: relative;
  bottom: -0.15em;
}

.cuneiform-break {
  margin-left: -0.3em;
  margin-right: -0.3em;
  opacity: 0.5;
  &::after {
    content: "·";
  }
}

.cuneiform-sentence {
  word-spacing: 0.5em;
}