@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.greek {
  position: relative;
}

.greek-diacritic {
  width: 100%;
  text-align: center;
  position: absolute;
  &[data-position="above"] {
    inset-block-start: -0.3em;
    inset-inline-start: 0em;
  }
  &[data-position="below"] {
    inset-block-end: -0.25em;
    inset-inline-start: 0em;
  }
}