@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.link {
  text-decoration: none;
  background-size: 100% 1rpx;
  background-position: left bottom;
  background-repeat: no-repeat;
  cursor: pointer;
  &:not(:hover) {
    color: var(--secondary-color);
    background-image: single-color(var(--secondary-color));
  }
  &:hover {
    color: var(--secondary-active-color);
    background-image: single-color(var(--secondary-active-color));
  }
  &:focus-visible {
    outline: solid 2rpx oklch(from var(--secondary-color) l c h / 0.5);
    outline-offset: 1rpx;
  }
}

.hidden-link {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}