@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.math-container {
  margin-block: $block-vertical-margin + $additional-block-vertical-margin - 2rpx;
  display: flex;
  align-items: center;
  position: relative;
}

.math-inner-container {
  @include scrollbar(0rpx, 0rpx, transparent, transparent);
  margin-inline: auto;
  line-height: 1;
  display: flex;
  align-items: baseline;
  overflow-x: auto;
  overflow-y: hidden;
}

.math {
  margin-inline: auto;
  padding-block: 2rpx;
  padding-inline: 2rpx;
  display: block;
}

.math-mark {
  @include box(var(--blue-color), true);
  inset-inline-start: 0rpx;
  user-select: none;
  position: absolute;
}

math-i {
  padding-right: 0em !important;
}

math-i:not(.fun):not(.rm)[data-cont="f"] {
  padding-inline-end: 0.1em !important;
}

math-i.tt {
  font-family: $monospace-font-family;
  font-size: $monospace-font-size;
  font-weight: $monospace-font-weight;
  letter-spacing: $monospace-letter-spacing;
}

math-o[data-cont=":"] {
  font-family: "Zotica Math Web" !important;
}

math-over >math-o.acc {
  margin-bottom: -0.1em;
}

math-under >math-o.acc {
  margin-top: -0.1em;
}

.ref[data-type="bibliography"] {
  font-size: 80%;
  vertical-align: 0.3906em;
  color: var(--blue-color);
}