@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.music-accidental {
  font-family: "Chord Font";
}

.music-chord {
  font-family: "Chord Font";
}

.mark {
  font-size: 80%;
  vertical-align: 0.3906em;
  line-height: 0;
  color: var(--gray-color);
}

.radical {
  margin-inline: 0.15em;
  @include box(var(--gray-color), true, true);
}

.superbreviation {
  min-width: 0.8em;
  display: inline-block;
  &::after {
    width: 100%;
    border-block-start: 0.06em solid currentcolor;
    opacity: 0.7;
    vertical-align: 0.05em;
    display: inline-flex;
    content: "";
  }
}

.superbreviation-main {
  padding-inline: 0.05em;
  margin-block-end: -1.2em;
  line-height: 1;
  text-align: center;
  display: block;
}

.box {
  margin-inline: 0.15em;
  @include box(var(--blue-color), false);
}

.label {
  margin-inline-end: $blank-margin;
  color: var(--blue-color);
}