@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.box {
  margin-inline: 0.15em;
  @include box($blue-color, false);
}

.label {
  margin-right: $blank-margin;
  color: $blue-color;
}