@charset "utf-8";

@use "sass:math" as *;
@import "../../util/common.scss";
@import "../../main-module/variable.scss";


.music-accidental {
  font-family: "Chord Font";
}

.music-chord {
  font-family: "Chord Font";
}

.mark {
  font-size: 80%;
  vertical-align: 0.3906em;
  line-height: 0;
  color: var(--gray-color);
}

.radical {
  margin-inline: 0.15em;
  @include box(var(--gray-color), true, true);
}

.box {
  margin-inline: 0.15em;
  @include box(var(--blue-color), false);
}

.label {
  margin-right: $blank-margin;
  color: var(--blue-color);
}